.vs/

*.suo
*.user
*.userosscache
*.sln.docstates

**/packages/*

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

.sass-cache/
\.DS_Store

# IDE
.vscode/
.vscode/*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

node_modules/
*.css.map

package-lock\.json

dist/
