footer {
	background-color: $green;
	color: $white;
	padding-bottom: 40px;
	padding-top: 40px;
	text-align: center;

	@include media-breakpoint-up(md) {
        text-align: left;
	}
	
	.logo{
		margin-bottom: 20px;

		@include media-breakpoint-up(md) {
			margin-bottom: 0;
		}
	}

	h4{
		@include fontSize(20px);
		color: $white;
		margin-bottom: 10px;

		@include media-breakpoint-up(md) {
			margin-bottom: 21px;
		}
	}

	.info{
		border-bottom: solid 1px $white;
		margin-bottom: 34px;
		padding-bottom: 60px;
	}

	p{
		@include fontSize(20px);

		@include media-breakpoint-down(md) {
			margin-bottom: 40px;
		}

		&.footnote{
			@include fontSize(14px);
		}
	}
}
