header{
	background-color: $green;
	.navbar-brand{
		margin-right: 6px;
	}
	nav{
		li{
			@include media-breakpoint-up(md){
				width: 139px;
			}
			.nav-link{
				@include fontSize(14px);
			//	font-family: 'gotham_mediumregular';
				color: $white;
				font-weight: 500;
				line-height: normal;
				&:hover,
				&.active{
					color: $light-green;
				}
			}
		}
	}
}