header{
	background-color: $green;
	.navbar-brand{
		margin-right: 6px;
	}
	nav{
		li{
			@include media-breakpoint-up(md){
				width: 139px;
			}
			.nav-link{
				@include fontSize(14px);
				color: $white;
				font-weight: 500;
				line-height: 1.43;
				&:hover,
				&.active{
					color: $green-two;
				}
			}
		}
	}
}