.benefit-container{
	@include componentPadding;
	background-color: $gray;

	padding-bottom: 150px;

	@include media-breakpoint-up(md){
		padding-bottom: 430px;
	}
	
	ul{
		@include media-breakpoint-up(lg){
			max-width: 758px;
		}
		li{
			width: 100%;
			@include media-breakpoint-up(md){
				width: 190px;
			}
		}
	}

	img{
		margin-bottom: 14px;
	}
}