.benefit-container{
	background-color: $gray;
	ul{
		@include media-breakpoint-up(lg){
			max-width: 758px;
		}
		li{
			width: 100%;
			@include media-breakpoint-up(md){
				width: 190px;
			}
		}
	}
}