.benefit-container{
	@include componentPadding;
	padding-bottom: 150px;
	
	ul{
		@include media-breakpoint-up(lg){
			max-width: 948px;
		}
		li{
			width: 100%;
			@include media-breakpoint-up(md){
				width: 190px;
			}
		}
	}

	img{
		margin-bottom: 14px;
	}
}