.business-container{
    padding-bottom: 50px;
    
    @include media-breakpoint-up(md){
        min-height: 302px;
    }

    h2{
        &::after{
            margin-bottom: 30px;
        }
    }
    
    .hero-image{
        background: url(#{$imgPath}/fleet/vehiculo-carga@3x.jpg) no-repeat;
        background-size: cover;
        background-position: top;
        right: 0;
        height: 100vh;
        max-height: 302px;
        overflow: hidden;
        @include media-breakpoint-up(lg){
            position: absolute;
        }
    }

    ul{
		li{
			.media{
				&:not(:last-child){
					border-right: 1px solid $dark-gray;
				}
			}
		}
	}
}