.gray-container{
	background-color: $gray;
}

.accordion-container{
	.plus-minus-container {
		height: 76px;
		width: 76px;
		font-size: 1em;
		opacity: .7;
		cursor: pointer;
		.vertical,
		.horizontal{
			background-color: $desaturated-green;
			transition: all 0.5s ease-in-out;
			transform: rotate(-90deg);
			left: 50%;
			top: 50%;
		}
		.vertical {
			width: 19px;
			height: 75px;
			margin-left: -10px;
			margin-top: -36px;
		}
		.horizontal {
			opacity: 1;
			width: 75px;
			height: 19px;
			margin-left: -50%;
			margin-top: -9px;
		}
	}

	&.small-sign{
		top: 0;
		right: 0;
		cursor: pointer;
		.plus-minus-container{
			height: 22px;
			width: 22px;
			.wrapper{
				top:50%;
				.horizontal{
					width: 22px;
					height: 6px;
					margin-left: -50%;
					margin-top: -3px;
				}
				.vertical{
					width: 6px;
					height: 22px;
					margin-left: -3px;
					margin-top: -11px;
				}
			}
		}
	}
	  
	&.open-accordion {
		.vertical {
			transition: all 0.5s ease-in-out;
			transform: rotate(90deg);
		}
		.horizontal {
			transition: all 0.5s ease-in-out;
			transform: rotate(90deg);
			opacity: 0;
		}
	}
	.toggle-accordion{
		cursor: pointer;
		color: $desaturated-green;
	}	
}

