@mixin full-width-hero-bg {
    background: rgba(255, 255, 255, 0.6);
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0;
}

.hero {
    background-image: url(#{$imgPath}/hero@3x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    .info-wrapper {
        transform: translateY(25%);
        @include media-breakpoint-down(sm) {
            @include full-width-hero-bg;
            align-items: baseline;
        }
        &.full-width {
            @include full-width-hero-bg;
            @include media-breakpoint-up(md) {
                &+.hero-image {
                    transform: translateY(0);
                }
            }
        }
        p {
            margin-bottom: 20px;
        }
    }
}