.intro-container{
	.info-wrapper{
		margin-top: 36px;
		@include media-breakpoint-up(md){
			margin-top: 76px;
		}
		@include media-breakpoint-up(lg){
			margin-top: 156px;
		}
		.btn{
			background-color: $green;
			color: $white;
			padding: 9px 54px;
			appearance: none;
			&:hover,
			&:active,
			&:focus{
				color: $green-two;
			}
		}
		.arrows-down{
			bottom: 10px;
			right: -43px;
    		z-index: 1;
		}
	}
}