.physical-person{
    margin-bottom: 20px;
    margin-top: 20px;
    @include media-breakpoint-up(md){
        margin-bottom: 248px;
        margin-top: 140px;
    }
    h2{
        &::after{
            margin-right: auto;
            margin-left: auto;
        }
    }
    .bg-container{
        background: $gray;
        height: 90%;
        left: 50%;
        top: 135px;
        transform: translateX(-50%);
    }
}