.plans{
    margin-top: -200px;
    margin-bottom: 100px;

    @include media-breakpoint-up(lg){
		margin-bottom: 180px;
	}

    .centered-image{
        margin-bottom: 54px;
        max-width: 100%;
    }
}