.profesional-container{
	@include componentPadding;
	

	padding-bottom: 150px;

	@include media-breakpoint-up(md){
		padding-bottom: 430px;
	}
	
	h2{
		&::after{
			margin-bottom: 65px;
		}
	}

	ul{
		li{
			.media{
				&:not(:last-child){
					border-right: 1px solid $dark-gray;
				}
			}
		}
	}

}

.closed {
	.vertical {
	  transition: all 0.5s ease-in-out;
	  transform: rotate(-90deg);
	}
	.horizontal {
	  transition: all 0.5s ease-in-out;
	  transform: rotate(-90deg);
	  opacity: 1;
	}
  }
  
  .opened {
	opacity: 1;
	.vertical {
	  transition: all 0.5s ease-in-out;
	  transform: rotate(90deg);
	}
	.horizontal {
	  transition: all 0.5s ease-in-out;
	  transform: rotate(90deg);
	  opacity: 0;
	}
  }
  
  .circle-plus {
	  height: 76px;
	  width: 76px;
	  font-size: 1em;
	  opacity: .7;
	  cursor: pointer;
  }
  
  .circle-plus .circle {
	  position: relative;
	  width: 2.55em;
	  height: 2.5em;
  }
  
  .circle-plus .circle .horizontal {
	  position: absolute;
	  background-color: #accf84;
	  width: 75px;
	  height: 19px;
	  margin-left: -17px;
	  top: 50%;
	  margin-top: 7.5px;
  }
  .circle-plus .circle .vertical {
	  position: absolute;
	  background-color: #accf84;
	  width: 19px;
	  height: 75px;
	  margin-left: 10px;
	  top: 50%;
	  margin-top: -20px;
  }
  
  