.profesional-container{
	@include componentPadding;
	padding-bottom: 150px;
	/**@include media-breakpoint-up(md){
		padding-bottom: 430px;
	}*/
	h2{
		&::after{
			margin-bottom: 65px;
		}
	}
	ul{
		li{
			.media{
				&:not(:last-child){
					border-right: 1px solid $dark-gray;
				}
			}
		}
	}
	&.suvs{
		.img-container{
			margin-top: -70px;
			overflow: hidden;
			position: relative;
		}
	}
}