extends layout/layout.pug

block page
    - var page = "quote";

block head
    - var title = "Renting | Cotizar"
    - var description = "this is the description"

block content
    div.contact-grid
        div.row
            div.col-12.col-md-6.bg-image.d-none.d-md-block
                div.row
                    div.col-lg-10.offset-lg-2.fleets                        
            div.col-12.col-md-6.col-lg-5.form
                h2.mb-3.text-uppercase Gracias por contactarnos.