extends layout/layout.pug

block head
    - var title = "Renting | Cotizar vehículos"
    - var description = "this is the description"

block page
    - var page = "appointments";

block content
    div.contact-grid
        div.row
            div.col-12.col-md-6.bg-image.d-none.d-md-block
                div.row
                    div.col-lg-10.offset-lg-2.fleets
                        h1.text-uppercase(style="font-size:30px; line-height: 39px;") Obtenga su cita de mantenimiento
                        p.mb-3 Llámenos al: 2242-7745 <br />
                            | Escríbanos a mantenimientorenting@grupoanc.com<br />
                            | Horario de Atención a Consultas.<br />
                            | De Lunes a Viernes 7:30 am a 5:30 pm.<br />
            div.col-12.col-md-6.col-lg-5.form
                form(action="")
                    div.form-group
                        label(for='name') Nombre:
                        input#name.form-control(type='text' aria-describedby='name' placeholder='')
                    div.form-group
                        label(for='lastName') Apellidos:
                        input#last-name.form-control(type='text' aria-describedby='LastName' placeholder='')
                    div.form-group
                        label(for='date') Fecha:
                        input#date.form-control(type='date' aria-describedby='date')
                    div.form-group
                        label(for='company') Hora:
                        input#time.form-control(type='time' name='time' min='8:00' max='18:00' aria-describedby='company')
                    div.form-group
                        label(for='email') Email:
                        input#email.form-control(type='email' aria-describedby='email' placeholder='')
                    div.form-group
                        label(for='phone') Tel&eacute;fono:
                        input#phone.form-control(type='phone' aria-describedby='phone' placeholder='')
                    div.form-group
                        label(for='car id') Placa:
                        input#car-id.form-control(type='text' aria-describedby='phone' placeholder='')
                    div.form-group
                        label(for='place') Estaci&oacute;n:
                        <select class="form-control" id="place">
                            <option>Bel&eacute;n</option>
                            <option>Fortuna</option>
                            <option>Jac&oacute;</option>
                            <option>Liberia</option>
                            <option>Lim&oacute;n</option>
                            <option>Mal Pa&iacute;s</option>
                            <option>Nosara</option>
                            <option>Plaza Viquez</option>
                            <option>Puerto J&iacute;menez</option>
                            <option>Quepos</option>
                            <option>Taller Móvil: Servicio a Domicilio en el GAM</option>
                        </select>
                    div.form-group
                        label(for='comments') Observaciones:
                        <textarea class="form-control" id="comments" rows="3"></textarea>
                    div.form-group.button-container
                        <button type="submit" class="btn btn-primary">Agendar cita</button>
                        <button type="submit" class="btn btn-primary cancel">Cancelar</button>
