extends layout/layout.pug

block content
    div.hero
        div.container
            div.row
                div.info-wrapper.col-md-6.col-lg-5.offset-lg-1
                    h1.text-uppercase Flotilla
                    p
                        strong Cuota fija todo el periodo de contrato.
                    a.btn.text-center.text-uppercase.border-0.rounded-0 Cotice aquí
                div.d-none.d-md-block.col-md-6.col-lg-6.hero-image
                span.scroll-next
                    img.arrows-down.d-none.d-md-block(src='img/arrows-down.svg' alt='Arrows Down')
    section.profesional-container.gray-container
        div.container
                div.row
                    div.col-lg-11.offset-lg-1
                        h2.text-uppercase profesional     
                        h5.mb-4 Sedanes                   
                        .row
                            .col-xl-9
                                #multiCollapseExample1.collapse.multi-collapse.show
                                    .card.card-body
                                        ul.pl-0.d-flex.flex-wrap.list-unstyled.justify-content-md-between.mb-5
                                            li.text-center.mx-auto.mb-5.mb-md-0
                                                img.d-block.mw-100.mx-auto.mb-4(src='img/fleet/sedan1.png' srcset="img/fleet/sedan1.png 1x, img/fleet/sedan1@2x.png 2x, img/fleet/sedan1@3x.png 3x" alt='alquiler de sedanes')
                                                h5.mb-3 Toyota Yaris
                                                ul.list-unstyled.d-flex.mb-3
                                                    li.media.pr-2.mr-2
                                                        img.mr-2(src='img/fleet/passengers-icon.svg' alt='Number of passengers')
                                                        .media-body.text-left 5
                                                    li.media.pr-2.mr-2
                                                        img.mr-2(src='img/fleet/gear-icon.svg' alt='Number of gears')
                                                        .media-body.text-left 5
                                                    li.media
                                                        img.mr-2(src='img/fleet/engine-icon.svg' alt='Number of engine')
                                                        .media-body.text-left.text-nowrap 1.5 lts
                                                span.text-center 4 puertas
                                            li.text-center.mx-auto.mb-5.mb-md-0
                                                img.d-block.mw-100.mx-auto.mb-4(src='img/fleet/sedan2.png' srcset="img/fleet/sedan2.png 1x, img/fleet/sedan2@2x.png 2x, img/fleet/sedan2@3x.png 3x" alt='alquiler de sedanes')
                                                h5.mb-3 Toyota Yaris
                                                ul.list-unstyled.d-flex.mb-3
                                                    li.media.pr-2.mr-2
                                                        img.mr-2(src='img/fleet/passengers-icon.svg' alt='Number of passengers')
                                                        .media-body.text-left 5
                                                    li.media.pr-2.mr-2
                                                        img.mr-2(src='img/fleet/gear-icon.svg' alt='Number of gears')
                                                        .media-body.text-left 5
                                                    li.media
                                                        img.mr-2(src='img/fleet/engine-icon.svg' alt='Number of engine')
                                                        .media-body.text-left.text-nowrap 1.5 lts
                                                span.text-center 4 puertas
                                            li.text-center.mx-auto
                                                img.d-block.mw-100.mx-auto.mb-4(src='img/fleet/sedan3.png' srcset="img/fleet/sedan3.png 1x, img/fleet/sedan3@2x.png 2x, img/fleet/sedan3@3x.png 3x" alt='alquiler de sedanes')
                                                h5.mb-3 Toyota Yaris
                                                ul.list-unstyled.d-flex.mb-3
                                                    li.media.pr-2.mr-2
                                                        img.mr-2(src='img/fleet/passengers-icon.svg' alt='Number of passengers')
                                                        .media-body.text-left 5
                                                    li.media.pr-2.mr-2
                                                        img.mr-2(src='img/fleet/gear-icon.svg' alt='Number of gears')
                                                        .media-body.text-left 5
                                                    li.media
                                                        img.mr-2(src='img/fleet/engine-icon.svg' alt='Number of engine')
                                                        .media-body.text-left.text-nowrap 1.5 lts
                                                span.text-center 4 puertas
                            
                        .row
                            .col-xl-9.offset-xl-2
                                #multiCollapseExample2.collapse.multi-collapse
                                    .card.card-body
                                        ul.pl-0.d-flex.flex-wrap.list-unstyled.justify-content-md-between.mb-5
                                            li.text-center.mx-auto.mb-5.mb-md-0
                                                img.d-block.mw-100.mx-auto.mb-4(src='img/fleet/sedan1.png' srcset="img/fleet/sedan1.png 1x, img/fleet/sedan1@2x.png 2x, img/fleet/sedan1@3x.png 3x" alt='alquiler de sedanes')
                                                h5.mb-3 Toyota Yaris
                                                ul.list-unstyled.d-flex.mb-3
                                                    li.media.pr-2.mr-2
                                                        img.mr-2(src='img/fleet/passengers-icon.svg' alt='Number of passengers')
                                                        .media-body.text-left 5
                                                    li.media.pr-2.mr-2
                                                        img.mr-2(src='img/fleet/gear-icon.svg' alt='Number of gears')
                                                        .media-body.text-left 5
                                                    li.media
                                                        img.mr-2(src='img/fleet/engine-icon.svg' alt='Number of engine')
                                                        .media-body.text-left.text-nowrap 1.5 lts
                                                span.text-center 4 puertas
                                            li.text-center.mx-auto.mb-5.mb-md-0
                                                img.d-block.mw-100.mx-auto.mb-4(src='img/fleet/sedan2.png' srcset="img/fleet/sedan2.png 1x, img/fleet/sedan2@2x.png 2x, img/fleet/sedan2@3x.png 3x" alt='alquiler de sedanes')
                                                h5.mb-3 Toyota Yaris
                                                ul.list-unstyled.d-flex.mb-3
                                                    li.media.pr-2.mr-2
                                                        img.mr-2(src='img/fleet/passengers-icon.svg' alt='Number of passengers')
                                                        .media-body.text-left 5
                                                    li.media.pr-2.mr-2
                                                        img.mr-2(src='img/fleet/gear-icon.svg' alt='Number of gears')
                                                        .media-body.text-left 5
                                                    li.media
                                                        img.mr-2(src='img/fleet/engine-icon.svg' alt='Number of engine')
                                                        .media-body.text-left.text-nowrap 1.5 lts
                                                span.text-center 4 puertas
                                            li.text-center.mx-auto
                                                img.d-block.mw-100.mx-auto.mb-4(src='img/fleet/sedan3.png' srcset="img/fleet/sedan3.png 1x, img/fleet/sedan3@2x.png 2x, img/fleet/sedan3@3x.png 3x" alt='alquiler de sedanes')
                                                h5.mb-3 Toyota Yaris
                                                ul.list-unstyled.d-flex.mb-3
                                                    li.media.pr-2.mr-2
                                                        img.mr-2(src='img/fleet/passengers-icon.svg' alt='Number of passengers')
                                                        .media-body.text-left 5
                                                    li.media.pr-2.mr-2
                                                        img.mr-2(src='img/fleet/gear-icon.svg' alt='Number of gears')
                                                        .media-body.text-left 5
                                                    li.media
                                                        img.mr-2(src='img/fleet/engine-icon.svg' alt='Number of engine')
                                                        .media-body.text-left.text-nowrap 1.5 lts
                                                span.text-center 4 puertas
                        p.text-center
                            span.toggle-accordion(data-toggle='collapse' data-target='#multiCollapseExample2' aria-expanded='false' aria-controls='multiCollapseExample2') Ver más
                              
