extends layout/layout.pug

block content
    div.container
        div.row
            div.col
                h1 carro nuevo sin prima.
                p Cuota fija todo el periodo de contrato.
            div.col
                h1 this is the title