extends layout/layout.pug

block page
    - var page = "home";

block content
    div.hero
        div.container
            div.row
                div.info-wrapper.position-absolute.col-md-6.col-lg-5.offset-lg-1
                    h1.text-uppercase carro nuevo sin prima.
                    p
                        strong Cuota fija todo el periodo de contrato.
                    a.btn.text-center.text-uppercase.border-0.rounded-0 Cotice aquí
                div.col-md-6.col-lg-6.hero-image
                span.scroll-next
                    img.arrows-down.d-none.d-md-block(src='img/arrows-down.svg' alt='Arrows Down')
    section.benefit-container.gray-container
        div.container
            div.row
                div.col-lg-11.offset-lg-1
                    h2.text-uppercase beneficios
                div.col-lg-8.offset-lg-2
                    ul.pl-0.d-flex.flex-wrap.list-unstyled.justify-content-md-between.mx-lg-auto
                        li.text-center.mb-5
                            img.d-block.mx-auto(src='img/shield-heart.svg' alt='Shield Heart')
                            h4 
                                | Seguro
                                br
                                | incluido
                        li.text-center.mb-5
                            img.d-block.mx-auto(src='img/clock.svg' alt='Clock')
                            h4 
                                | Plazo de 1
                                br
                                | a 3 años
                        li.text-center.mb-5
                            img.d-block.mx-auto(src='img/tools.svg' alt='Tools')
                            h4 
                                | Mantenimiento 
                                br
                                | preventivo
                        li.text-center.mb-5.mb-md-0
                            img.d-block.mx-auto(src='img/clock.svg' alt='Clock')
                            h4 
                                | Cuota
                                br
                                | fija
                        li.text-center.mb-5.mb-md-0
                            img.d-block.mx-auto(src='img/clock.svg' alt='Clock')
                            h4 
                                | Marchamo
                                br
                                | incluido
                        li.text-center.mb-0
                            img.d-block.mx-auto(src='img/clock.svg' alt='Clock')
                            h4 
                                | 100% se registra 
                                br
                                | como gasto
    section.plans
        div.container
            div.row
                div.col
                    img.d-block.mx-auto.centered-image(src='img/alquiler-vehiculos.jpg' srcset="img/alquiler-vehiculos.jpg 1x, img/alquiler-vehiculos@2x.jpg 2x, img/alquiler-vehiculos@3x.jpg 3x" alt='alquiler de vehiculos')
            div.row
                div.col-lg-8.offset-lg-2
                    h2.text-uppercase Planes
            div.row
                div.col-md-6.col-lg-4.offset-lg-2
                    div.media.plan
                        img.align-self-center.mr-3(src='img/home/01.png' srcset="img/home/01.png 1x, img/home/01@2x.png 2x, img/home/01@3x.png 3x" alt='01')
                        .media-body
                            h5.mt-0 Viajeros de negocios
                            p.mb-0
                            | Cuota fija todo el periodo de contrato. Cuota fija todo el periodo de contrato.
            div.row
                div.col-md-6.offset-md-4.col-lg-4.offset-lg-5
                    div.media.plan
                        img.align-self-center.mr-3(src='img/home/legal/02.png' srcset="img/home/02.png 1x, img/home/02@2x.png 2x, img/home/02@3x.png 3x" alt='02')
                        .media-body
                            h5.mt-0 Viajeros de negocios
                            p.mb-0
                            | Cuota fija todo el periodo de contrato. Cuota fija todo el periodo de contrato.
            div.row
                div.col-md-6.col-lg-4.offset-lg-2
                    div.media.plan
                        img.align-self-center.mr-3(src='img/home/03.png' srcset="img/home/03.png 1x, img/home/03@2x.png 2x, img/home/03@3x.png 3x" alt='03')
                        .media-body
                            h5.mt-0 Viajeros de negocios
                            p.mb-0
                            | Cuota fija todo el periodo de contrato. Cuota fija todo el periodo de contrato.
    section.fleets
        div.container
            div.row
                div.col.text-center
                    h2.text-uppercase Flotas
            div.row.align-items-center
                div.col-md-5.offset-md-1.col-lg-5.offset-lg-1.fleets__profesional
                    h3.text-uppercase Profesional
                    h4 sedán / SUV
                    img.d-block.mw-100.centered-image(src='img/home/alquiler-carros-sedan.jpg' srcset="img/home/alquiler-carros-sedan.jpg 1x, img/home/alquiler-carros-sedan@2x.jpg 2x, img/home/alquiler-carros-sedan@3x.jpg 3x" alt='alquiler de vehiculos')
                div.col-md-5.col-lg-5.fleets__enterprise
                    h3.text-uppercase Empresarial
                    h4 Carga liviana
                    img.d-block.mw-100.centered-image(src='img/home/alquiler-transporte-carga-liviana.jpg' srcset="img/home/alquiler-transporte-carga-liviana.jpg 1x, img/home/alquiler-transporte-carga-liviana@2x.jpg 2x, img/home/alquiler-transporte-carga-liviana@3x.jpg 3x" alt='alquiler de vehiculos')