extends layout/layout.pug

block head
    - var title = "Renting | Variedad de vehículos"
    - var description = "this is the description"

block page
    - var page = "home";

block content
    div.hero.pb-5
        div.container
            div.row
                div.info-wrapper.col-md-6.col-lg-5.offset-lg-1
                    h1.text-uppercase Servicio de Carro Sustituto
                    p
                        strong Enterprise Rent-A-Car es líder en servicio de carro sustituto y renta de vehículos. El servicio de CARRO SUSTITUTO está dirigido a personas quienes tengan alguna situación que les impida utilizar su carro propio.
                div.col-md-5.col-lg-5.contact-grid.offset-md-1
                    form(action="")
                        div.form-group
                            label(for='name') Nombre *
                            input#name.form-control(type='text' aria-describedby='name' placeholder='')
                        div.form-group
                            label(for='lastName') Apellidos *
                            input#company.form-control(type='text' aria-describedby='lastName' placeholder='')
                        div.form-group
                            label(for='email') Email *
                            input#email.form-control(type='email' aria-describedby='email' placeholder='')
                        div.form-group
                            label(for='phone') Tel&eacute;fono *
                            input#phone.form-control(type='phone' aria-describedby='phone' placeholder='')
                        div.form-group
                            label(for='brand') Mensaje *
                            <textarea class="form-control" id="brand" rows="3"></textarea>
                        <button type="submit" class="btn btn-primary cancel">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Enviar</button>        
                
    section.gray-container.homepage-container
        div.container
                div.row
                    .how-to-rent.col-md-10.offset-md-1.mb-5
                        h2 ¿Cuando puede rentar un carro sustituto?
                        ul.animate(data-animations="slide-right")
                            li Choque
                            li Carro en el taller (reparación, mantenimiento, revisión de kilómetros)
                            li Compra de vehículo (espera por le entreguen el carro)

                div.row
                    .benefits.col-md-10.offset-md-1.mb-5.slide-right
                        h2 Beneficios para el cliente:
                        ul.animate(data-animations="slide-right")
                            li Tarifa permanente durante todo el año.
                            li Flota disponible todo el año.
                            li Depósito de garantía reducido.
                            li Le llevamos el carro o lo recogemos.
                            li Tarifa especial en talleres afiliados.
                            li No hay límite de días, puede rentar desde un día en adelante cualquier día del año.
                            li Tenemos cobertura en todo el país.
                            li Libre kilometraje.
                            li Flota nueva (máximo carros con 2 años).
                            li Servicio telefónico de emergencias 24 horas.

                div.row
                    .req.col-md-10.offset-md-1.slide-right
                        h2 Requisitos para aplicar la tarifa:
                        ul.mb-4.animate(data-animations="slide-right")
                            li Choque: Presentar aviso de tránsito u orden de trabajo del taller.
                            li Carro en el taller: Presentar orden del taller.
                            li Compra de vehículo: Orden de agencia.

                        p.disclaimer.animate(data-animations="slide-right") *En caso de NO presentar los documentos requeridos, NO aplica la tarifa de carro sustituto en ninguno de los casos. Si el cliente cuenta con la cobertura con alguna aseguradora puede tramitarlo por medio de esta o puede solicitar el reembolso con la factura que le otorgamos.            