extends layout/layout.pug

block head
    - var title = "Renting | Variedad de vehículos"
    - var description = "this is the description"

block page
    - var page = "fleet";

block content
    div.hero
        div.container
            div.row
                div.info-wrapper.col-md-6.col-lg-5.offset-lg-1
                    h1.text-uppercase Rente su veh&iacute;culo
                    p
                        strong Ofrecemos las mejores condiciones corporativas del mercado.
                div.col-md-6.col-lg-5.contact-grid
                    form(action="mail.php" method="POST")
                        div.form-group
                            label(for='name') Nombre:
                            input#name.form-control(type='text' aria-describedby='name' placeholder='')
                        div.form-group
                            label(for='lastName') Apellidos:
<<<<<<< HEAD
                            input#last-name.form-control(type='text' aria-describedby='LastName' placeholder='')
=======
                            input#lastName.form-control(type='text' aria-describedby='LastName' placeholder='')
>>>>>>> bfdd72a38b9c1d294452608ba5c616419e5920f7
                        div.form-group
                            label(for='company') Empresa:
                            input#company.form-control(type='text' aria-describedby='company' placeholder='')
                        div.form-group
                            label(for='job') Profesi&oacute;n:
                            input#job.form-control(type='text' aria-describedby='job' placeholder='')
                        div.form-group
                            label(for='email') Email:
                            input#email.form-control(type='email' aria-describedby='email' placeholder='')
                        div.form-group
                            label(for='phone') Tel&eacute;fono:
                            input#phone.form-control(type='phone' aria-describedby='phone' placeholder='')
                        div.form-group
                            label(for='time') Plazo:
                            <select class="form-control" id="time">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        div.form-group
                            label(for='brand') Marca:
                            <select class="form-control" id="brand">
                                <option value='Toyota'>Toyota</option>
                                <option value='Suzuki'>Suzuki</option>
                                <option value='Isuzu'>Isuzu</option>
                                <option value='Hino'>Hino</option>
                                <option value='Hyundai'>Hyundai</option>
                                <option value='BMW'>BMW</option>
                                <option value='Honda'>Honda</option>
                                <option value='Ford'>Ford</option>
                                <option value='Renault'>Renault</option>
                                <option value='Volkswagen'>Volkswagen</option>
                            </select>
                        div.form-group
<<<<<<< HEAD
                            label(for='comments') Observaciones:
                            .last-box
                                <textarea class="form-control" id="comments" rows="3"></textarea>
=======
                            label(for='observations') Observaciones:
                            .last-box
                                <textarea class="form-control" id="observations" rows="3"></textarea>
>>>>>>> bfdd72a38b9c1d294452608ba5c616419e5920f7
                        div.form-group
                            <button type="submit" class="btn btn-primary cancel">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Cotizar</button>
                span.scroll-next
                    img.arrows-down.d-none.d-md-block(src='img/arrows-down.svg' alt='Arrows Down')
        div.bg-image
    section.physical-person.gray-container
        div.container.position-relative
            div.row
                div.col.text-center
                    h2.text-uppercase Beneficios
            div.row
                .col-md-8.offset-md-2.col-lg-6.offset-lg-3
                    .row
                        div.col-md-6.animate(data-animations="slide-right")
                            div.media.plan.mb-4.mt-4.mb-md-0.mt-md-0
                                img.align-self-top.mr-3(src='img/check-icon.svg' alt='01')
                                .media-body
                                    p.mb-0
                                    | Garantía de puntualidad.
                        div.col-md-6.animate(data-animations="slide-right")
                            div.media.plan.mb-4.mb-md-0.mt-md-0
                                img.align-self-top.mr-3(src='img/check-icon.svg' alt='02')
                                .media-body
                                    p.mb-0
                                    | 30 oficinas en todo el país.
            div.row
                .col-md-8.offset-md-2.col-lg-6.offset-lg-3
                    .row
                        div.col-md-6.animate(data-animations="slide-right")
                            div.media.plan.mb-4.mb-md-0.mt-md-0
                                img.align-self-top.mr-3(src='img/check-icon.svg' alt='03')
                                .media-body
                                    p.mb-0
                                    | Entrega a domicilio o empresa.
                        div.col-md-6.animate(data-animations="slide-right")
                            div.media.plan.mb-4.mb-md-0.mt-md-0
                                img.align-self-top.mr-3(src='img/check-icon.svg' alt='04')
                                .media-body
                                    p.mb-0
                                    | Afiliaci&oacute;n gratuita a programas de fidelidad nacionales e internacionales.
            div.row
                .col-md-8.offset-md-2.col-lg-6.offset-lg-3
                    .row
                        div.col-md-6.animate(data-animations="slide-right")
                            div.media.plan
                                img.align-self-top.mr-3(src='img/check-icon.svg' alt='05')
                                .media-body
                                    p.mb-0
                                    | Reservación en l&iacute;nea.
                        div.col-md-6.animate(data-animations="slide-right")
                            div.media.plan.mb-4.mb-md-0.mt-md-0
                                img.align-self-top.mr-3(src='img/check-icon.svg' alt='04')
                                .media-body
                                    p.mb-0
                                    | Opciones de alquiler desde 12 horas hasta largo plazo.
            div.row
                .col-md-8.offset-md-2.col-lg-6.offset-lg-3
                    .row
                        div.col-md-6.animate(data-animations="slide-right")
                            div.media.plan
                                img.align-self-center.mr-3(src='img/check-icon.svg' alt='05')
                                .media-body
                                    p.mb-0
                                    | Variedad y disponibilidad de flota todo el año.
    section.profesional-container.position-relative
        div.container
                div.row
                    div.col-md-6.col-lg-5.offset-lg-1
                        h2.text-uppercase Veh&iacute;culos
                div.row
                    div.col-lg-10.offset-lg-1  
                        h5.mb-4                  
                        .row
                            .col-xl-12
                                #sedanCollapse1.collapse.multi-collapse.show
                                    .card.card-body
                                        ul.pl-0.d-flex.flex-wrap.list-unstyled.justify-content-md-between.mb-5
                                            li.carWrapper.position-relative.float-left.text-center.mx-auto.mb-5.mb-md-0.animate(data-animations="slide-right")
                                                .content.position-absolute.h-100.w-100
                                                    .front.d-flex.justify-content-center.flex-column.position-absolute.h-100.w-100
                                                        img.d-block.ml-4.mr-4.mb-4.car(src='img/fleet/celerio.jpg' alt='alquiler de sedanes')
                                                        h5 Suzuki Celerio (o similar)
                                                    .back.d-flex.justify-content-center.flex-column.position-absolute.h-100.w-100
                                                        ul.list-unstyled.d-flex.mb-3.justify-content-center
                                                            li.media.pr-2.mr-2
                                                                img.mr-2(src='img/fleet/passengers-icon.svg' alt='Number of passengers')
                                                                .media-body.text-left 4
                                                            li.media.pr-2.mr-2
                                                                img.mr-2(src='img/fleet/gear-icon.svg' alt='Number of gears')
                                                                .media-body.text-left 5
                                                            li.media
                                                                img.mr-2(src='img/fleet/engine-icon.svg' alt='Number of engine')
                                                                .media-body.text-left.text-nowrap 1.0 lts
                                                        p
                                                            span.text-center 4 puertas
                                                        p
                                                            span.text-center Manual

                                            li.carWrapper.position-relative.float-left.text-center.mx-auto.mb-5.mb-md-0.animate(data-animations="slide-right")
                                                .content.position-absolute.h-100.w-100
                                                    .front.d-flex.justify-content-center.flex-column.position-absolute.h-100.w-100
                                                        img.d-block.ml-4.mr-4.mb-4.car(src='img/fleet/swift.jpg' alt='alquiler de sedanes')
                                                        h5 Suzuki Swift Dzire (o similar)
                                                    .back.d-flex.justify-content-center.flex-column.position-absolute.h-100.w-100
                                                        ul.list-unstyled.d-flex.mb-3.justify-content-center
                                                            li.media.pr-2.mr-2
                                                                img.mr-2(src='img/fleet/passengers-icon.svg' alt='Number of passengers')
                                                                .media-body.text-left 5
                                                            li.media.pr-2.mr-2
                                                                img.mr-2(src='img/fleet/gear-icon.svg' alt='Number of gears')
                                                                .media-body.text-left 5
                                                            li.media
                                                                img.mr-2(src='img/fleet/engine-icon.svg' alt='Number of engine')
                                                                .media-body.text-left.text-nowrap 1.5 lts
                                                        p
                                                            span.text-center 4 puertas
                                                        p
                                                            span.text-center Manual

                                            li.carWrapper.position-relative.float-left.text-center.mx-auto.mb-5.mb-md-0.animate.delay-04(data-animations="slide-right")
                                                .content.position-absolute.h-100.w-100
                                                    .front.d-flex.justify-content-center.flex-column.position-absolute.h-100.w-100
                                                        img.d-block.ml-4.mr-4.mb-4.car(src='img/fleet/yaris.jpg' alt='alquiler de sedanes')
                                                        h5 Toyota Yaris (o similar)
                                                    .back.d-flex.justify-content-center.flex-column.position-absolute.h-100.w-100
                                                        ul.list-unstyled.d-flex.mb-3.justify-content-center
                                                            li.media.pr-2.mr-2
                                                                img.mr-2(src='img/fleet/passengers-icon.svg' alt='Number of passengers')
                                                                .media-body.text-left 5
                                                            li.media.pr-2.mr-2
                                                                img.mr-2(src='img/fleet/gear-icon.svg' alt='Number of gears')
                                                                .media-body.text-left 5
                                                            li.media
                                                                img.mr-2(src='img/fleet/engine-icon.svg' alt='Number of engine')
                                                                .media-body.text-left.text-nowrap 1.5 lts
                                                        p
                                                            span.text-center 4 puertas
                                                        p
                                                            span.text-center Manual   
                                                        p
                                                            span.text-center Auto             
                            
                        .row
                            .col-xl-12
                                #sedanCollapse2.collapse.multi-collapse
                                    .card.card-body
                                        ul.pl-0.d-flex.flex-wrap.list-unstyled.justify-content-md-between.mb-5
                                            li.carWrapper.position-relative.float-left.text-center.mx-auto.mb-5
                                                .content.position-absolute.h-100.w-100
                                                    .front.d-flex.justify-content-center.flex-column.position-absolute.h-100.w-100
                                                        img.d-block.ml-4.mr-4.mb-4.car(src='img/fleet/corolla.jpg' alt='alquiler de sedanes')
                                                        h5 Toyota Corolla (o similar)
                                                    .back.d-flex.justify-content-center.flex-column.position-absolute.h-100.w-100
                                                        ul.list-unstyled.d-flex.mb-3.justify-content-center
                                                            li.media.pr-2.mr-2
                                                                img.mr-2(src='img/fleet/passengers-icon.svg' alt='Number of passengers')
                                                                .media-body.text-left 5
                                                            li.media.pr-2.mr-2
                                                                img.mr-2(src='img/fleet/gear-icon.svg' alt='Number of gears')
                                                                .media-body.text-left 5
                                                            li.media
                                                                img.mr-2(src='img/fleet/engine-icon.svg' alt='Number of engine')
                                                                .media-body.text-left.text-nowrap 1.5 lts
                                                        p
                                                            span.text-center 4 puertas
                                                        p
                                                            span.text-center Manual   
                                                        p
                                                            span.text-center Auto                                        
                                            li.carWrapper.position-relative.float-left.text-center.mx-auto.mb-5
                                                .content.position-absolute.h-100.w-100
                                                    .front.d-flex.justify-content-center.flex-column.position-absolute.h-100.w-100
                                                        img.d-block.ml-4.mr-4.mb-4.car(src='img/fleet/jimny.jpg' alt='alquiler de sedanes')
                                                        h5 Suzuki Jimny (o similar)
                                                    .back.d-flex.justify-content-center.flex-column.position-absolute.h-100.w-100
                                                        ul.list-unstyled.d-flex.mb-3.justify-content-center
                                                            li.media.pr-2.mr-2
                                                                img.mr-2(src='img/fleet/passengers-icon.svg' alt='Number of passengers')
                                                                .media-body.text-left 4
                                                            li.media.pr-2.mr-2
                                                                img.mr-2(src='img/fleet/gear-icon.svg' alt='Number of gears')
                                                                .media-body.text-left 5
                                                            li.media
                                                                img.mr-2(src='img/fleet/engine-icon.svg' alt='Number of engine')
                                                                .media-body.text-left.text-nowrap 1.3 lts
                                                        p
                                                            span.text-center 4 puertas
                                                        p
                                                            span.text-center Manual                                      
                                            li.carWrapper.position-relative.float-left.text-center.mx-auto.mb-5
                                                .content.position-absolute.h-100.w-100
                                                    .front.d-flex.justify-content-center.flex-column.position-absolute.h-100.w-100
                                                        img.d-block.ml-4.mr-4.mb-4.car(src='img/fleet/bego.jpg' alt='alquiler de sedanes')
                                                        h5 Daihatsu Bego (o similar)
                                                    .back.d-flex.justify-content-center.flex-column.position-absolute.h-100.w-100
                                                        ul.list-unstyled.d-flex.mb-3.justify-content-center
                                                            li.media.pr-2.mr-2
                                                                img.mr-2(src='img/fleet/passengers-icon.svg' alt='Number of passengers')
                                                                .media-body.text-left 4
                                                            li.media.pr-2.mr-2
                                                                img.mr-2(src='img/fleet/gear-icon.svg' alt='Number of gears')
                                                                .media-body.text-left 5
                                                            li.media
                                                                img.mr-2(src='img/fleet/engine-icon.svg' alt='Number of engine')
                                                                .media-body.text-left.text-nowrap 1.5 lts
                                                        p
                                                            span.text-center 5 puertas
                                                        p
                                                            span.text-center Manual       
                                            li.carWrapper.position-relative.float-left.text-center.mx-auto.mb-5
                                                .content.position-absolute.h-100.w-100
                                                    .front.d-flex.justify-content-center.flex-column.position-absolute.h-100.w-100
                                                        img.d-block.ml-4.mr-4.mb-4.car(src='img/fleet/grand_vitara.jpg' alt='alquiler de sedanes')
                                                        h5 Suzuki Grand Vitara (o similar)
                                                    .back.d-flex.justify-content-center.flex-column.position-absolute.h-100.w-100
                                                        ul.list-unstyled.d-flex.mb-3.justify-content-center
                                                            li.media.pr-2.mr-2
                                                                img.mr-2(src='img/fleet/passengers-icon.svg' alt='Number of passengers')
                                                                .media-body.text-left 5
                                                            li.media.pr-2.mr-2
                                                                img.mr-2(src='img/fleet/gear-icon.svg' alt='Number of gears')
                                                                .media-body.text-left 5
                                                            li.media
                                                                img.mr-2(src='img/fleet/engine-icon.svg' alt='Number of engine')
                                                                .media-body.text-left.text-nowrap 2.0 lts
                                                        p
                                                            span.text-center 5 puertas
                                                        p
                                                            span.text-center Manual    
                                                        p
                                                            span.text-center Auto
                                            li.carWrapper.position-relative.float-left.text-center.mx-auto.mb-5
                                                .content.position-absolute.h-100.w-100
                                                    .front.d-flex.justify-content-center.flex-column.position-absolute.h-100.w-100
                                                        img.d-block.ml-4.mr-4.mb-4.car(src='img/fleet/fortuner.jpg' alt='alquiler de sedanes')
                                                        h5 Toyota Fortuner (o similar)
                                                    .back.d-flex.justify-content-center.flex-column.position-absolute.h-100.w-100
                                                        ul.list-unstyled.d-flex.mb-3.justify-content-center
                                                            li.media.pr-2.mr-2
                                                                img.mr-2(src='img/fleet/passengers-icon.svg' alt='Number of passengers')
                                                                .media-body.text-left 7
                                                            li.media.pr-2.mr-2
                                                                img.mr-2(src='img/fleet/gear-icon.svg' alt='Number of gears')
                                                                .media-body.text-left 5
                                                            li.media
                                                                img.mr-2(src='img/fleet/engine-icon.svg' alt='Number of engine')
                                                                .media-body.text-left.text-nowrap 3.0 lts
                                                        p
                                                            span.text-center 5 puertas
                                                        p
                                                            span.text-center Auto
                                            li.carWrapper.position-relative.float-left.text-center.mx-auto.mb-5
                                                .content.position-absolute.h-100.w-100
                                                    .front.d-flex.justify-content-center.flex-column.position-absolute.h-100.w-100
                                                        img.d-block.ml-4.mr-4.mb-4.car(src='img/fleet/prado.jpg' alt='alquiler de sedanes')
                                                        h5 Toyota Fortuner (o similar)
                                                    .back.d-flex.justify-content-center.flex-column.position-absolute.h-100.w-100
                                                        ul.list-unstyled.d-flex.mb-3.justify-content-center
                                                            li.media.pr-2.mr-2
                                                                img.mr-2(src='img/fleet/passengers-icon.svg' alt='Number of passengers')
                                                                .media-body.text-left 7
                                                            li.media.pr-2.mr-2
                                                                img.mr-2(src='img/fleet/gear-icon.svg' alt='Number of gears')
                                                                .media-body.text-left 5
                                                            li.media
                                                                img.mr-2(src='img/fleet/engine-icon.svg' alt='Number of engine')
                                                                .media-body.text-left.text-nowrap 3.0 lts
                                                        p
                                                            span.text-center 5 puertas
                                                        p
                                                            span.text-center Auto
                                            li.carWrapper.position-relative.float-left.text-center.mx-auto.mb-5
                                                .content.position-absolute.h-100.w-100
                                                    .front.d-flex.justify-content-center.flex-column.position-absolute.h-100.w-100
                                                        img.d-block.ml-4.mr-4.mb-4.car(src='img/fleet/sequoia_2.jpg' alt='alquiler de sedanes')
                                                        h5 Toyota Fortuner (o similar)
                                                    .back.d-flex.justify-content-center.flex-column.position-absolute.h-100.w-100
                                                        ul.list-unstyled.d-flex.mb-3.justify-content-center
                                                            li.media.pr-2.mr-2
                                                                img.mr-2(src='img/fleet/passengers-icon.svg' alt='Number of passengers')
                                                                .media-body.text-left 7
                                                            li.media.pr-2.mr-2
                                                                img.mr-2(src='img/fleet/gear-icon.svg' alt='Number of gears')
                                                                .media-body.text-left 5
                                                            li.media
                                                                img.mr-2(src='img/fleet/engine-icon.svg' alt='Number of engine')
                                                                .media-body.text-left.text-nowrap 5.9 lts
                                                        p
                                                            span.text-center 5 puertas
                                                        p
                                                            span.text-center Auto
                .row
                    .col
                        div.accordion-container.text-center(data-action='accordion' data-toggle='collapse' data-target='#sedanCollapse2' aria-expanded='false' aria-controls='suvCollapse2')
                            .plus-minus-container.mx-auto
                                .wrapper.h-100.position-relative.mx-auto
                                    .horizontal.position-absolute
                                    .vertical.position-absolute
                            span.toggle-accordion.mt-3.d-block Ver m&aacute;s


