extends layout/layout.pug

block head
    - var title = "Renting | Variedad de vehículos"
    - var description = "this is the description"

block page
    - var page = "home";

block content
    div.hero.pb-5
        div.container
            div.row
                div.info-wrapper.col-md-6.col-lg-5.offset-lg-1
                    h1.text-uppercase ¡COTIZA EL AUTO DE REEMPLAZO QUE NECESITAS!
                    p
                        strong Somos l&iacute;deres en el servicio de Auto de Reemplazo y renta de autom&oacute;viles.
                div.col-md-5.col-lg-5.contact-grid.offset-md-1
                    form(action="")
                        div.form-group
                            label(for='name') Nombre *
                            input#name.form-control(type='text' aria-describedby='name' placeholder='')
                        div.form-group
                            label(for='lastName') Apellidos *
                            input#company.form-control(type='text' aria-describedby='lastName' placeholder='')
                        div.form-group
                            label(for='email') Email *
                            input#email.form-control(type='email' aria-describedby='email' placeholder='')
                        div.form-group
                            label(for='phone') Tel&eacute;fono *
                            input#phone.form-control(type='phone' aria-describedby='phone' placeholder='')
                        div.form-group
                            label(for='brand') Mensaje *
                            <textarea class="form-control" id="brand" rows="3"></textarea>
                        <button type="submit" class="btn btn-primary">Enviar</button> 
                        <button type="submit" class="btn btn-primary cancel">Cancelar</button>  
    section.plans
        div.container
            div.row
                div.col-lg-10.offset-lg-1
                    h2.text-uppercase  ¿Cu&aacute;ndo podr&iacute;as necesitar un auto de reemplazo? 
            div.row
                div.col-lg-10.offset-lg-1
                    div.row
                        div.col.col-12.col-md.mb-3
                            div.img-block
                                .screen.animate(data-animations="show-image")
                                img.d-block.mw-100.centered-image.animate(data-animations="fade-in" src='img/choque.jpg' srcset="img/choque.jpg 1x, img/choque@2x.jpg 2x, img/choque@3x.jpg 3x" alt='alquiler de vehiculos')                            
                            h4   Tu seguro tiene el beneficio de Auto de Reemplazo
                            p
                                a.drop(data-toggle='collapse' href='#carCrash' role='button' aria-expanded='false' aria-controls='collapseExample')
                                    | Ver requisitos
                            #carCrash.collapse.mt-3
                                .card.card-body
                                    p.small *En este caso, debes tener la autorizaci&oacute;n de tu compa&ntilde;&iacute;a de seguro. Si cuentas con la cobertura en tu p&oacute;liza de autom&oacute;viles, puedes tramitarlo por medio de la aseguradora. Necesitas presentar tu Licencia de Conducir, DNI, y una Garant&iacute;a M&iacute;nima de acuerdo a la aseguradora.
                        div.col.col-12.col-md.mb-3
                            div.img-block
                                .screen.animate(data-animations="show-image")
                                img.d-block.mw-100.centered-image.animate(data-animations="fade-in" src='img/taller.jpg' srcset="img/taller.jpg 1x, img/taller@2x.jpg 2x, img/taller@3x.jpg 3x" alt='alquiler de vehiculos')
                            h4  Tu auto se encuentra en el taller
                            p
                                a.drop(data-toggle='collapse' href='#carFixing' role='button' aria-expanded='false' aria-controls='collapseExample')
                                    | Ver requisitos
                            #carFixing.collapse.mt-3
                                .card.card-body
                                    p.small *Consulta a tu aseguradora si cuentas con el servicio de Auto de Reemplazo. Tambi&eacute;n puedes consultar si tu taller est&aacute; afiliado con nosotros y pueden brindarte el beneficio de Auto de Reemplazo. 
                        div.col.col-12.col-md.mb-3
                            div.img-block
                                .screen.animate(data-animations="show-image")
                                img.d-block.mw-100.centered-image.animate(data-animations="fade-in" src='img/dueno-de-taller.jpg' srcset="img/dueno-de-taller.jpg 1x, img/dueno-de-taller@2x.jpg 2x, img/dueno-de-taller@3x.jpg 3x" alt='alquiler de vehiculos')
                            h4  Necesitas un Auto de Reemplazo para tu cliente 
                            p
                                a.drop(data-toggle='collapse' href='#waitCar' role='button' aria-expanded='false' aria-controls='collapseExample')
                                    | Ver requisitos
                            #waitCar.collapse.mt-3
                                .card.card-body
                                    p.small Si eres due&ntilde;o de un taller y deseas afiliarte a los grandes beneficios de Auto de Reemplazo para tus clientes, ¡es muy sencillo! Puedes enviarnos un correo electr&oacute;nico indicando el Nombre del taller, N&uacute;mero de tel&eacute;fono y Direcci&oacute;n, o bien,  puedes solicitar una visita de uno de nuestros agentes. La afiliaci&oacute;n es totalmente gratuita. 
    section.gray-container.homepage-container
        div.container
                div.row
                    .how-to-rent.col-md-5.offset-md-1
                        h2.text-uppercase  Beneficios
                        ul.animate(data-animations="slide-right")
                            li Libre kilometraje.
                            li Flota disponible todo el a&ntilde;o.
                            li Entrega del auto en casa u oficina*.
                            li Servicio disponible cualquier d&iacute;a del a&ntilde;o.
                            li Moderna flota de autos (nuevos o con m&aacute;ximo 2 a&ntilde;os).
                            p.small * Sujeto al &aacute;rea de cobertura
                    .col-md-5.d-none.d-md-block
                        img.d-block.mw-100.centered-image.animate(data-animations="fade-in" src='img/requisitos.jpg' srcset="img/requisitos.jpg 1x, img/requisitos@2x.jpg 2x, img/requisitos@3x.jpg 3x" alt='alquiler de vehiculos')
