extends layout/layout.pug

block head
    - var title = "Renting | Rente su carro nuevo"
    - var description = "this is the description"

block page
    - var page = "home";

block content
    div.hero
        div.container
            div.row
                div.info-wrapper.position-absolute.col-md-6.col-lg-5.offset-lg-1
                    h1.text-uppercase Renting<br />Profesional
                    p
                        strong El servicio de alquiler de vehículos ideal para profesionales independientes y empresas.
                    a.btn.text-center.text-uppercase.border-0.rounded-0(href='quote.html') Cotice aqu&iacute;
                span.scroll-next
                    img.arrows-down.d-none.d-md-block(src='img/arrows-down.svg' alt='Arrows Down')
    section.benefit-container.gray-container
        div.container
            div.row
                div.col-lg-11.offset-lg-1
                    h2.text-uppercase beneficios
                div.col-lg-12
                    ul.pl-0.d-flex.flex-wrap.list-unstyled.justify-content-md-between.mx-lg-auto
                        li.text-center.mb-5.animate(data-animations="slide-right")
                            img.d-block.mx-auto(src='img/new.svg' alt='Shield Heart')
                            h4 
                                | Vehículo
                                br
                                | nuevo
                        li.text-center.mb-5.animate.delay-04(data-animations="slide-right")
                            img.d-block.mx-auto(src='img/tools.svg' alt='Tools')
                            h4 
                                | Mantenimiento 
                                br
                                | preventivo
                        li.text-center.mb-5.mb-md-0.animate.delay-08(data-animations="slide-right")
                            img.d-block.mx-auto(src='img/marchamo.svg' alt='Clock')
                            h4 
                                | Marchamo
                                br
                                | incluido
                        li.text-center.mb-5.animate.delay-12(data-animations="slide-right")
                            img.d-block.mx-auto(src='img/shield-heart.svg' alt='Shield Heart')
                            h4 
                                | Seguros
                                br
                                | incluidos
                        li.text-center.mb-5.mb-md-0.animate(data-animations="slide-right")
                            img.d-block.mx-auto(src='img/cuota-fija.svg' alt='Clock')
                            h4 
                                | Cuota fija todo
                                br
                                | el periodo
                        li.text-center.mb-5.animate.delay-04(data-animations="slide-right")
                            img.d-block.mx-auto(src='img/gasto-impuestos.svg' alt='Clock')
                            h4 
                                | 100% se registra 
                                br
                                | como gasto
                        li.text-center.mb-5.mb-md-0.animate.delay-08(data-animations="slide-right")
                            img.d-block.mx-auto(src='img/options.svg' alt='Clock')
                            h4 
                                | Gran variedad
                                br
                                | de marcas
                        li.text-center.mb-5.animate.delay-12(data-animations="slide-right")
                            img.d-block.mx-auto(src='img/clock.svg' alt='Clock')
                            h4 
                                | Plazo de 1
                                br
                                | a 3 a&ntilde;os
    section.plans
        div.container
            div.row
                div.col-lg-10.offset-lg-1
                    h2.text-uppercase Planes
            div.row
                div.col-lg-10.offset-lg-1
                    div.row
                        div.col.col-12.col-md
                            div.img-block
                                .screen.animate(data-animations="show-image")
                                img.d-block.mw-100.centered-image.animate(data-animations="fade-in" src='img/home/empresarial.jpg' srcset="img/home/empresarial.jpg 1x, img/home/empresarial@2x.jpg 2x, img/home/empresarial@3x.jpg 3x" alt='alquiler de vehiculos')                            
                            h4  Profesional independiente
                        div.col.col-12.col-md
                            div.img-block
                                .screen.animate(data-animations="show-image")
                                img.d-block.mw-100.centered-image.animate(data-animations="fade-in" src='img/home/profesional-independiente.jpg' srcset="img/home/profesional-independiente.jpg 1x, img/home/profesional-independiente@2x.jpg 2x, img/home/profesional-independiente@3x.jpg 3x" alt='alquiler de vehiculos')
                            h4  Empresas
                        div.col.col-12.col-md
                            div.img-block
                                .screen.animate(data-animations="show-image")
                                img.d-block.mw-100.centered-image.animate(data-animations="fade-in" src='img/home/negocios.jpg' srcset="img/home/negocios.jpg 1x, img/home/negocios@2x.jpg 2x, img/home/negocios@3x.jpg 3x" alt='alquiler de vehiculos')
                            h4  Viajero de negocios           
    section.fleets
        div.container
            div.row
                div.col-lg-11.offset-lg-1.text-center
                    div.text-left
                        h2.text-uppercase Vehículos
            div.row.align-items-center
                div.col-md-10.offset-md-1
                    div.row
                        div.col
                            .card.card-body
                                ul.pl-0.d-flex.flex-wrap.list-unstyled.justify-content-md-between.mb-5.flex-md-column.flex-lg-row
                                    li.text-center.mx-auto.mb-5.mb-md-0.animate(data-animations="slide-right")
                                        div.text-left
                                            h4 Sedan
                                        a(href="fleet.html#sedan")
                                            img.d-block.mw-100.mx-auto.mb-4(src='img/fleet/sedan1.png' srcset="img/fleet/sedan1.png 1x, img/fleet/sedan1@2x.png 2x, img/fleet/sedan1@3x.png 3x" alt='alquiler de sedanes')
                                            h5.mb-3 Toyota Yaris
                                            ul.list-unstyled.d-flex.mb-3
                                                li.media.pr-2.mr-2
                                                    img.mr-2(src='img/fleet/passengers-icon.svg' alt='Number of passengers')
                                                    .media-body.text-left 5
                                                li.media.pr-2.mr-2
                                                    img.mr-2(src='img/fleet/gear-icon.svg' alt='Number of gears')
                                                    .media-body.text-left 5
                                                li.media
                                                    img.mr-2(src='img/fleet/engine-icon.svg' alt='Number of engine')
                                                    .media-body.text-left.text-nowrap 1.5 lts
                                    li.text-center.mx-auto.mb-5.mb-md-0.animate.delay-04(data-animations="slide-right")
                                        div.text-left
                                            h4 SUVs
                                        a(href="fleet.html#suvs")
                                            img.d-block.mw-100.mx-auto.mb-4(src='img/fleet/suv2.png' srcset="img/fleet/suv2.png 1x, img/fleet/suv2@2x.png 2x, img/fleet/suv2@3x.png 3x" alt='alquiler de suv')
                                            h5.mb-3 Toyota Yaris
                                            ul.list-unstyled.d-flex.mb-3
                                                li.media.pr-2.mr-2
                                                    img.mr-2(src='img/fleet/passengers-icon.svg' alt='Number of passengers')
                                                    .media-body.text-left 5
                                                li.media.pr-2.mr-2
                                                    img.mr-2(src='img/fleet/gear-icon.svg' alt='Number of gears')
                                                    .media-body.text-left 5
                                                li.media
                                                    img.mr-2(src='img/fleet/engine-icon.svg' alt='Number of engine')
                                                    .media-body.text-left.text-nowrap 1.5 lts
                                    li.text-center.mx-auto.mb-5.mb-md-0.animate.delay-08(data-animations="slide-right")
                                        div.text-left
                                            h4 Carga Liviana
                                        a(href="fleet.html#carga-liviana")
                                            img.d-block.mw-100.mx-auto.mb-4(src='img/fleet/vehiculo-carga1.png' srcset="img/fleet/vehiculo-carga1.png 1x, img/fleet/vehiculo-carga1@2x.png 2x, img/fleet/vehiculo-carga1@3x.png 3x" alt='alquiler vehiculo de carga')
                                            h5.mb-3 Toyota Yaris
                                            ul.list-unstyled.d-flex.mb-3
                                                li.media.pr-2.mr-2
                                                    img.mr-2(src='img/fleet/passengers-icon.svg' alt='Number of passengers')
                                                    .media-body.text-left 5
                                                li.media.pr-2.mr-2
                                                    img.mr-2(src='img/fleet/gear-icon.svg' alt='Number of gears')
                                                    .media-body.text-left 5
                                                li.media
                                                    img.mr-2(src='img/fleet/engine-icon.svg' alt='Number of engine')
                                                    .media-body.text-left.text-nowrap 1.5 lts