extends layout/layout.pug

block head
    - var title = "Renting | Rente su carro nuevo"
    - var description = "this is the description"

block page
    - var page = "home";

block content
    div.hero
        div.container
            div.row
                div.info-wrapper.position-absolute.col-md-6.col-lg-5.offset-lg-1
                    h1.text-uppercase Renting<br />Profesional
                    p
                        strong El servicio de alquiler de vehículos ideal para profesionales independientes y empresas.
                    a.btn.text-center.text-uppercase.border-0.rounded-0(href='quote.html') Cotice aqu&iacute;
                span.scroll-next
                    img.arrows-down.d-none.d-md-block(src='img/arrows-down.svg' alt='Arrows Down')
    section.benefit-container.gray-container
        div.container
            div.row
                div.col-lg-11.offset-lg-1
                    h2.text-uppercase beneficios
                div.col-lg-12
                    ul.pl-0.d-flex.flex-wrap.list-unstyled.justify-content-md-between.mx-lg-auto
                        li.text-center.mb-5.animate(data-animations="slide-right")
                            img.d-block.mx-auto(src='img/new.svg' alt='Shield Heart')
                            h4 
                                | Vehículo
                                br
                                | nuevo
                        li.text-center.mb-5.animate.delay-04(data-animations="slide-right")
                            img.d-block.mx-auto(src='img/tools.svg' alt='Tools')
                            h4 
                                | Mantenimiento 
                                br
                                | preventivo
                        li.text-center.mb-5.mb-md-0.animate.delay-08(data-animations="slide-right")
                            img.d-block.mx-auto(src='img/marchamo.svg' alt='Clock')
                            h4 
                                | Marchamo
                                br
                                | incluido
                        li.text-center.mb-5.animate.delay-12(data-animations="slide-right")
                            img.d-block.mx-auto(src='img/shield-heart.svg' alt='Shield Heart')
                            h4 
                                | Seguros
                                br
                                | incluidos
                        li.text-center.mb-5.mb-md-0.animate(data-animations="slide-right")
                            img.d-block.mx-auto(src='img/cuota-fija.svg' alt='Clock')
                            h4 
                                | Cuota fija todo
                                br
                                | el periodo
                        li.text-center.mb-5.animate.delay-04(data-animations="slide-right")
                            img.d-block.mx-auto(src='img/gasto-impuestos.svg' alt='Clock')
                            h4 
                                | 100% se registra 
                                br
                                | como gasto
                        li.text-center.mb-5.mb-md-0.animate.delay-08(data-animations="slide-right")
                            img.d-block.mx-auto(src='img/options.svg' alt='Clock')
                            h4 
                                | Gran variedad
                                br
                                | de marcas
                        li.text-center.mb-5.animate.delay-12(data-animations="slide-right")
                            img.d-block.mx-auto(src='img/clock.svg' alt='Clock')
                            h4 
                                | Plazo de 1
                                br
                                | a 3 a&ntilde;os
    section.plans
        div.container
            div.row
                div.col-lg-10.offset-lg-1
                    h2.text-uppercase Planes
            div.row
                div.col-lg-10.offset-lg-1
                    div.row
                        div.col.col-12.col-md
                            div.img-block
                                .screen.animate(data-animations="show-image")
                                img.d-block.mw-100.centered-image.animate(data-animations="fade-in" src='img/home/empresarial.jpg' srcset="img/home/empresarial.jpg 1x, img/home/empresarial@2x.jpg 2x, img/home/empresarial@3x.jpg 3x" alt='alquiler de vehiculos')                            
                            h4  Profesional independiente
                            p
                                a.drop(data-toggle='collapse' href='#profesional' role='button' aria-expanded='false' aria-controls='collapseExample')
                                    | Ver m&aacute;s
                            #profesional.collapse.mt-3
                                .card.card-body
                                    p.small *En este caso, deb&eacute;s tener la autorizaci&oacute;n de la aseguradora. Si cont&aacute;s con la cobertura en tu p&oacute;liza de autom&oacute;viles, pod&eacute;s tramitarlo por medio de la Aseguradora o pod&eacute;s solicitar el reembolso con la factura que te entreguemos de la renta solicitada.
                        div.col.col-12.col-md
                            div.img-block
                                .screen.animate(data-animations="show-image")
                                img.d-block.mw-100.centered-image.animate(data-animations="fade-in" src='img/home/profesional-independiente.jpg' srcset="img/home/profesional-independiente.jpg 1x, img/home/profesional-independiente@2x.jpg 2x, img/home/profesional-independiente@3x.jpg 3x" alt='alquiler de vehiculos')
                            h4  Empresas
                            p
                                a.drop(data-toggle='collapse' href='#companies' role='button' aria-expanded='false' aria-controls='collapseExample')
                                    | Ver m&aacute;s
                            #companies.collapse.mt-3
                                .card.card-body
                                    p.small *En este caso, deb&eacute;s tener la autorizaci&oacute;n de la aseguradora. Si cont&aacute;s con la cobertura en tu p&oacute;liza de autom&oacute;viles, pod&eacute;s tramitarlo por medio de la Aseguradora o pod&eacute;s solicitar el reembolso con la factura que te entreguemos de la renta solicitada.
                        div.col.col-12.col-md
                            div.img-block
                                .screen.animate(data-animations="show-image")
                                img.d-block.mw-100.centered-image.animate(data-animations="fade-in" src='img/home/negocios.jpg' srcset="img/home/negocios.jpg 1x, img/home/negocios@2x.jpg 2x, img/home/negocios@3x.jpg 3x" alt='alquiler de vehiculos')
                            h4  Viajero de negocios
                            p
                                a.drop(data-toggle='collapse' href='#business' role='button' aria-expanded='false' aria-controls='collapseExample')
                                    | Ver m&aacute;s
                            #business.collapse.mt-3
                                .card.card-body
                                    p.small *En este caso, deb&eacute;s tener la autorizaci&oacute;n de la aseguradora. Si cont&aacute;s con la cobertura en tu p&oacute;liza de autom&oacute;viles, pod&eacute;s tramitarlo por medio de la Aseguradora o pod&eacute;s solicitar el reembolso con la factura que te entreguemos de la renta solicitada.           
    section.fleets
        div.container
            div.row
                div.col-lg-11.offset-lg-1.text-center
                    div.text-left
                        h2.text-uppercase Vehículos
            div.row.align-items-center
                div.col
                    div.row.align-items-center
                        div.col-xs-12.col-md-4.col-lg-2
                            img.d-block.mx-auto(src='img/car-logos/bmw.png' alt='BMW')
                        div.col-xs-12.col-md-4.col-lg-2
                            img.d-block.mx-auto(src='img/car-logos/ford.png' alt='BMW')
                        div.col-xs-12.col-md-4.col-lg-2
                            img.d-block.mx-auto(src='img/car-logos/hino.png' alt='BMW')
                        div.col-xs-12.col-md-4.col-lg-2
                            img.d-block.mx-auto(src='img/car-logos/honda.png' alt='BMW')
                        div.col-xs-12.col-md-4.col-lg-2
                            img.d-block.mx-auto(src='img/car-logos/hyundai.png' alt='BMW')
                        div.col-xs-12.col-md-4.col-lg-2
                            img.d-block.mx-auto(src='img/car-logos/Isuzu.png' alt='BMW')
                    div.row.align-items-center
                        div.col-xs-12.col-md-4.col-lg-2
                            img.d-block.mx-auto(src='img/car-logos/lexus.png' alt='BMW')
                        div.col-xs-12.col-md-4.col-lg-2
                            img.d-block.mx-auto(src='img/car-logos/renault.png' alt='BMW')
                        div.col-xs-12.col-md-4.col-lg-2
                            img.d-block.mx-auto(src='img/car-logos/suzuki.png' alt='BMW')
                        div.col-xs-12.col-md-4.col-lg-2
                            img.d-block.mx-auto(src='img/car-logos/toyota.png' alt='BMW')
                        div.col-xs-12.col-md-4.col-lg-2
                            img.d-block.mx-auto(src='img/car-logos/volkswagen.png' alt='BMW')
                        