extends layout/layout.pug

block head
    - var title = "Renting | Variedad de vehículos"
    - var description = "this is the description"

block page
    - var page = "home";

block content
    div.hero.pb-5
        div.container
            div.row
                div.info-wrapper.col-md-6.col-lg-5.offset-lg-1
                    h1.text-uppercase ¡COTIZ&Aacute; EL CARRO SUSTITUTO QUE NECESIT&Aacute;S!
                    p
                        strong Somos l&iacute;deres en el servicio de Carro Sustituto y renta de veh&iacute;culos.
                div.col-md-5.col-lg-5.contact-grid.offset-md-1
                    form(action="")
                        div.form-group
                            label(for='name') Nombre *
                            input#name.form-control(type='text' aria-describedby='name' placeholder='')
                        div.form-group
                            label(for='lastName') Apellidos *
                            input#company.form-control(type='text' aria-describedby='lastName' placeholder='')
                        div.form-group
                            label(for='email') Email *
                            input#email.form-control(type='email' aria-describedby='email' placeholder='')
                        div.form-group
                            label(for='phone') Tel&eacute;fono *
                            input#phone.form-control(type='phone' aria-describedby='phone' placeholder='')
                        div.form-group
                            label(for='brand') Mensaje *
                            <textarea class="form-control" id="brand" rows="3"></textarea>
                        <button type="submit" class="btn btn-primary">Enviar</button> 
                        <button type="submit" class="btn btn-primary cancel">Cancelar</button>  
    section.plans
        div.container
            div.row
                div.col-lg-10.offset-lg-1
                    h2.text-uppercase  ¿Cu&aacute;ndo podr&iacute;as necesitar un Carro Sustituto? 
            div.row
                div.col-lg-10.offset-lg-1
                    div.row
                        div.col.col-12.col-md.mb-3
                            div.img-block
                                .screen.animate(data-animations="show-image")
                                img.d-block.mw-100.centered-image.animate(data-animations="fade-in" src='img/choque.jpg' srcset="img/choque.jpg 1x, img/choque@2x.jpg 2x, img/choque@3x.jpg 3x" alt='alquiler de vehiculos')                            
                            h4   Tuviste un choque y cont&aacute;s con cobertura de seguro
                            p
                                a.drop(data-toggle='collapse' href='#carCrash' role='button' aria-expanded='false' aria-controls='collapseExample')
                                    | Ver requisitos
                            #carCrash.collapse.mt-3
                                .card.card-body
                                    p.small *En este caso, deb&eacute;s tener la autorizaci&oacute;n de la aseguradora. Si cont&aacute;s con la cobertura en tu p&oacute;liza de autom&oacute;viles, pod&eacute;s tramitarlo por medio de la Aseguradora o pod&eacute;s solicitar el reembolso con la factura que te entreguemos de la renta solicitada.
                        div.col.col-12.col-md.mb-3
                            div.img-block
                                .screen.animate(data-animations="show-image")
                                img.d-block.mw-100.centered-image.animate(data-animations="fade-in" src='img/taller.jpg' srcset="img/taller.jpg 1x, img/taller@2x.jpg 2x, img/taller@3x.jpg 3x" alt='alquiler de vehiculos')
                            h4  Tu veh&iacute;culo se encuentra en el taller
                            p
                                a.drop(data-toggle='collapse' href='#carFixing' role='button' aria-expanded='false' aria-controls='collapseExample')
                                    | Ver requisitos
                            #carFixing.collapse.mt-3
                                .card.card-body
                                    p.small *En caso de NO presentar los documentos requeridos, NO aplica la tarifa de carro sustituto en ninguno de los casos. Si dese&aacute;s ingresar tu veh&iacute;culo al taller para realizar una reparaci&oacute;n, podr&iacute;as gozar de este beneficio al presentar la orden de reparaci&oacute;n del taller.
                        div.col.col-12.col-md.mb-3
                            div.img-block
                                .screen.animate(data-animations="show-image")
                                img.d-block.mw-100.centered-image.animate(data-animations="fade-in" src='img/carro-nuevo.jpg' srcset="img/carro-nuevo.jpg 1x, img/carro-nuevo@2x.jpg 2x, img/carro-nuevo@3x.jpg 3x" alt='alquiler de vehiculos')
                            h4  Est&aacute;s a la espera de tu nuevo veh&iacute;culo  
                            p
                                a.drop(data-toggle='collapse' href='#waitCar' role='button' aria-expanded='false' aria-controls='collapseExample')
                                    | Ver requisitos
                            #waitCar.collapse.mt-3
                                .card.card-body
                                    p.small *En caso de NO presentar los documentos requeridos, NO aplica la tarifa de carro sustituto en ninguno de los casos.  Si est&aacute;s a la espera de tu veh&iacute;culo nuevo de agencia y dese&aacute;s un carro sustituto, pod&eacute;s solicitar el beneficio presentando la orden de la agencia.
                
    section.gray-container.homepage-container
        div.container
                div.row
                    .how-to-rent.col-md-5.offset-md-1
                        h2.text-uppercase  Beneficios
                        ul.animate(data-animations="slide-right")
                            li Libre kilometraje.
                            li Cobertura en todo el pa&iacute;s.
                            li Flota disponible todo el a&ntilde;o.
                            li Deposito de garant&iacute;a reducido.
                            li Entrega del carro en casa u oficina.
                            li Tarifa especial en talleres afiliados.
                            li Tarifa permanente durante todo el a&ntilde;o.
                            li Servicio disponible cualquier d&iacute;a del a&ntilde;o.
                            li Servicio telef&oacute;nico de emergencias 24 horas.
                            li Sin l&iacute;mite de d&iacute;as de renta (de 1 d&iacute;a en adelante).
                            li Moderna flota de carros (nuevos o con m&aacute;ximo 2 a&ntilde;os).
                    .col-md-5.d-none.d-md-block
                        img.d-block.mw-100.centered-image.animate(data-animations="fade-in" src='img/requisitos.jpg' srcset="img/requisitos.jpg 1x, img/requisitos@2x.jpg 2x, img/requisitos@3x.jpg 3x" alt='alquiler de vehiculos')
