extends layout/layout.pug

block head
    - var title = "Renting | Variedad de vehículos"
    - var description = "this is the description"

block page
    - var page = "fleet";

block content
    div.hero
        div.container
            div.row
                div.info-wrapper.col-md-6.col-lg-5.offset-lg-1
                    h1.text-uppercase Flotilla
                    p
                        strong Le ofrecemos  una gran variedad de marcas para garantizar el vehículo que necesita.
                div.col-md-6.col-lg-5.contact-grid
                    form(action="")
                        div.form-group
                            label(for='name') Nombre:
                            input#name.form-control(type='text' aria-describedby='name' placeholder='')
                        div.form-group
                            label(for='company') Empresa:
                            input#company.form-control(type='text' aria-describedby='company' placeholder='')
                        div.form-group
                            label(for='job') Profesi&oacute;n:
                            input#job.form-control(type='text' aria-describedby='job' placeholder='')
                        div.form-group
                            label(for='email') Email:
                            input#email.form-control(type='email' aria-describedby='email' placeholder='')
                        div.form-group
                            label(for='phone') Tel&eacute;fono:
                            input#phone.form-control(type='phone' aria-describedby='phone' placeholder='')
                        div.form-group
                            label(for='time') Plazo:
                            <select class="form-control" id="time">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        div.form-group
                            label(for='brand') Marca:
                            <select class="form-control" id="brand">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        div.form-group
                            label(for='brand') Observaciones:
                            <textarea class="form-control" id="brand" rows="3"></textarea>
                        <button type="submit" class="btn btn-primary cancel">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Cotizar</button>
                span.scroll-next
                    img.arrows-down.d-none.d-md-block(src='img/arrows-down.svg' alt='Arrows Down')
    section.profesional-container.gray-container.position-relative
        div.container
                div.row
                    div.col-md-6.col-lg-5.offset-lg-1
                        h2.text-uppercase Sedanes
                div.row
                    div.col-lg-11.offset-lg-1  
                        h5.mb-4                  
                        .row
                            .col-xl-12
                                #sedanCollapse1.collapse.multi-collapse.show
                                    .card.card-body
                                        ul.pl-0.d-flex.flex-wrap.list-unstyled.justify-content-md-between.mb-5
                                            li.text-center.mx-auto.mb-5.mb-md-0.animate(data-animations="slide-right")
                                                img.d-block.mw-100.mx-auto.mb-4(src='img/fleet/sedan1.png' srcset="img/fleet/sedan1.png 1x, img/fleet/sedan1@2x.png 2x, img/fleet/sedan1@3x.png 3x" alt='alquiler de sedanes')
                                                h5.mb-3 Toyota Yaris
                                                ul.list-unstyled.d-flex.mb-3
                                                    li.media.pr-2.mr-2
                                                        img.mr-2(src='img/fleet/passengers-icon.svg' alt='Number of passengers')
                                                        .media-body.text-left 5
                                                    li.media.pr-2.mr-2
                                                        img.mr-2(src='img/fleet/gear-icon.svg' alt='Number of gears')
                                                        .media-body.text-left 5
                                                    li.media
                                                        img.mr-2(src='img/fleet/engine-icon.svg' alt='Number of engine')
                                                        .media-body.text-left.text-nowrap 1.5 lts
                                                span.text-center 4 puertas
                                            li.text-center.mx-auto.mb-5.mb-md-0.animate.delay-04(data-animations="slide-right")
                                                img.d-block.mw-100.mx-auto.mb-4(src='img/fleet/sedan2.png' srcset="img/fleet/sedan2.png 1x, img/fleet/sedan2@2x.png 2x, img/fleet/sedan2@3x.png 3x" alt='alquiler de sedanes')
                                                h5.mb-3 Toyota Yaris
                                                ul.list-unstyled.d-flex.mb-3
                                                    li.media.pr-2.mr-2
                                                        img.mr-2(src='img/fleet/passengers-icon.svg' alt='Number of passengers')
                                                        .media-body.text-left 5
                                                    li.media.pr-2.mr-2
                                                        img.mr-2(src='img/fleet/gear-icon.svg' alt='Number of gears')
                                                        .media-body.text-left 5
                                                    li.media
                                                        img.mr-2(src='img/fleet/engine-icon.svg' alt='Number of engine')
                                                        .media-body.text-left.text-nowrap 1.5 lts
                                                span.text-center 4 puertas
                                            li.text-center.mx-auto.animate.delay-08(data-animations="slide-right")
                                                img.d-block.mw-100.mx-auto.mb-4(src='img/fleet/sedan3.png' srcset="img/fleet/sedan3.png 1x, img/fleet/sedan3@2x.png 2x, img/fleet/sedan3@3x.png 3x" alt='alquiler de sedanes')
                                                h5.mb-3 Toyota Yaris
                                                ul.list-unstyled.d-flex.mb-3
                                                    li.media.pr-2.mr-2
                                                        img.mr-2(src='img/fleet/passengers-icon.svg' alt='Number of passengers')
                                                        .media-body.text-left 5
                                                    li.media.pr-2.mr-2
                                                        img.mr-2(src='img/fleet/gear-icon.svg' alt='Number of gears')
                                                        .media-body.text-left 5
                                                    li.media
                                                        img.mr-2(src='img/fleet/engine-icon.svg' alt='Number of engine')
                                                        .media-body.text-left.text-nowrap 1.5 lts
                                                span.text-center 4 puertas
                            
                        .row
                            .col-xl-12
                                #sedanCollapse2.collapse.multi-collapse
                                    .card.card-body
                                        ul.pl-0.d-flex.flex-wrap.list-unstyled.justify-content-md-between.mb-5
                                            li.text-center.mx-auto.mb-5.mb-md-0
                                                img.d-block.mw-100.mx-auto.mb-4(src='img/fleet/sedan1.png' srcset="img/fleet/sedan1.png 1x, img/fleet/sedan1@2x.png 2x, img/fleet/sedan1@3x.png 3x" alt='alquiler de sedanes')
                                                h5.mb-3 Toyota Yaris
                                                ul.list-unstyled.d-flex.mb-3
                                                    li.media.pr-2.mr-2
                                                        img.mr-2(src='img/fleet/passengers-icon.svg' alt='Number of passengers')
                                                        .media-body.text-left 5
                                                    li.media.pr-2.mr-2
                                                        img.mr-2(src='img/fleet/gear-icon.svg' alt='Number of gears')
                                                        .media-body.text-left 5
                                                    li.media
                                                        img.mr-2(src='img/fleet/engine-icon.svg' alt='Number of engine')
                                                        .media-body.text-left.text-nowrap 1.5 lts
                                                span.text-center 4 puertas
                                            li.text-center.mx-auto.mb-5.mb-md-0
                                                img.d-block.mw-100.mx-auto.mb-4(src='img/fleet/sedan2.png' srcset="img/fleet/sedan2.png 1x, img/fleet/sedan2@2x.png 2x, img/fleet/sedan2@3x.png 3x" alt='alquiler de sedanes')
                                                h5.mb-3 Toyota Yaris
                                                ul.list-unstyled.d-flex.mb-3
                                                    li.media.pr-2.mr-2
                                                        img.mr-2(src='img/fleet/passengers-icon.svg' alt='Number of passengers')
                                                        .media-body.text-left 5
                                                    li.media.pr-2.mr-2
                                                        img.mr-2(src='img/fleet/gear-icon.svg' alt='Number of gears')
                                                        .media-body.text-left 5
                                                    li.media
                                                        img.mr-2(src='img/fleet/engine-icon.svg' alt='Number of engine')
                                                        .media-body.text-left.text-nowrap 1.5 lts
                                                span.text-center 4 puertas
                                            li.text-center.mx-auto
                                                img.d-block.mw-100.mx-auto.mb-4(src='img/fleet/sedan3.png' srcset="img/fleet/sedan3.png 1x, img/fleet/sedan3@2x.png 2x, img/fleet/sedan3@3x.png 3x" alt='alquiler de sedanes')
                                                h5.mb-3 Toyota Yaris
                                                ul.list-unstyled.d-flex.mb-3
                                                    li.media.pr-2.mr-2
                                                        img.mr-2(src='img/fleet/passengers-icon.svg' alt='Number of passengers')
                                                        .media-body.text-left 5
                                                    li.media.pr-2.mr-2
                                                        img.mr-2(src='img/fleet/gear-icon.svg' alt='Number of gears')
                                                        .media-body.text-left 5
                                                    li.media
                                                        img.mr-2(src='img/fleet/engine-icon.svg' alt='Number of engine')
                                                        .media-body.text-left.text-nowrap 1.5 lts
                                                span.text-center 4 puertas
                .row
                    .col
                        div.accordion-container.text-center(data-action='accordion' data-toggle='collapse' data-target='#sedanCollapse2' aria-expanded='false' aria-controls='suvCollapse2')
                            .plus-minus-container.mx-auto
                                .wrapper.h-100.position-relative.mx-auto
                                    .horizontal.position-absolute
                                    .vertical.position-absolute
                            span.toggle-accordion.mt-3.d-block Ver m&aacute;s
                        
    section.profesional-container.suvs
        div.container
            div.row
                div.col-md-6.col-lg-5.offset-lg-1
                    h2.text-uppercase SUVS
            .row
                div.col-lg-11.offset-lg-1.cargo-container
                    h5.mb-4 
                    #cargoCollapse1.collapse.multi-collapse.show
                        .card.card-body
                            ul.pl-0.d-flex.flex-wrap.list-unstyled.justify-content-md-between.mb-5.flex-column.flex-md-row
                                li.text-center.mx-auto.mb-5.mb-md-0.animate(data-animations="slide-right")
                                    img.d-block.mw-100.mx-auto.mb-4(src='img/fleet/vehiculo-carga1.png' srcset="img/fleet/vehiculo-carga1.png 1x, img/fleet/vehiculo-carga1@2x.png 2x, img/fleet/vehiculo-carga1@3x.png 3x" alt='alquiler vehiculo de carga')
                                    h5.mb-3 Toyota Yaris
                                    ul.list-unstyled.d-flex.mb-3
                                        li.media.pr-2.mr-2
                                            img.mr-2(src='img/fleet/passengers-icon.svg' alt='Number of passengers')
                                            .media-body.text-left 5
                                        li.media.pr-2.mr-2
                                            img.mr-2(src='img/fleet/gear-icon.svg' alt='Number of gears')
                                            .media-body.text-left 5
                                        li.media
                                            img.mr-2(src='img/fleet/engine-icon.svg' alt='Number of engine')
                                            .media-body.text-left.text-nowrap 1.5 lts
                                li.text-center.mx-auto.mb-5.mb-md-0.animate.delay-04(data-animations="slide-right")
                                    img.d-block.mw-100.mx-auto.mb-4(src='img/fleet/vehiculo-carga1.png' srcset="img/fleet/vehiculo-carga1.png 1x, img/fleet/vehiculo-carga1@2x.png 2x, img/fleet/vehiculo-carga1@3x.png 3x" alt='alquiler vehiculo de carga')
                                    h5.mb-3 Toyota Yaris
                                    ul.list-unstyled.d-flex.mb-3
                                        li.media.pr-2.mr-2
                                            img.mr-2(src='img/fleet/passengers-icon.svg' alt='Number of passengers')
                                            .media-body.text-left 5
                                        li.media.pr-2.mr-2
                                            img.mr-2(src='img/fleet/gear-icon.svg' alt='Number of gears')
                                            .media-body.text-left 5
                                        li.media
                                            img.mr-2(src='img/fleet/engine-icon.svg' alt='Number of engine')
                                            .media-body.text-left.text-nowrap 1.5 lts
                                li.text-center.mx-auto.mb-5.mb-md-0.animate.delay-08(data-animations="slide-right")
                                    img.d-block.mw-100.mx-auto.mb-4(src='img/fleet/vehiculo-carga1.png' srcset="img/fleet/vehiculo-carga1.png 1x, img/fleet/vehiculo-carga1@2x.png 2x, img/fleet/vehiculo-carga1@3x.png 3x" alt='alquiler vehiculo de carga')
                                    h5.mb-3 Toyota Yaris
                                    ul.list-unstyled.d-flex.mb-3
                                        li.media.pr-2.mr-2
                                            img.mr-2(src='img/fleet/passengers-icon.svg' alt='Number of passengers')
                                            .media-body.text-left 5
                                        li.media.pr-2.mr-2
                                            img.mr-2(src='img/fleet/gear-icon.svg' alt='Number of gears')
                                            .media-body.text-left 5
                                        li.media
                                            img.mr-2(src='img/fleet/engine-icon.svg' alt='Number of engine')
                                            .media-body.text-left.text-nowrap 1.5 lts
                    #cargoCollapse2.collapse.multi-collapse
                        .card.card-body
                            ul.pl-0.d-flex.flex-wrap.list-unstyled.justify-content-md-between.mb-5
                                li.text-center.mx-auto.mb-5.mb-md-0
                                    img.d-block.mw-100.mx-auto.mb-4(src='img/fleet/vehiculo-carga1.png' srcset="img/fleet/vehiculo-carga1.png 1x, img/fleet/vehiculo-carga1@2x.png 2x, img/fleet/vehiculo-carga1@3x.png 3x" alt='alquiler vehiculo de carga')
                                    h5.mb-3 Toyota Yaris
                                    ul.list-unstyled.d-flex.mb-3
                                        li.media.pr-2.mr-2
                                            img.mr-2(src='img/fleet/passengers-icon.svg' alt='Number of passengers')
                                            .media-body.text-left 5
                                        li.media.pr-2.mr-2
                                            img.mr-2(src='img/fleet/gear-icon.svg' alt='Number of gears')
                                            .media-body.text-left 5
                                        li.media
                                            img.mr-2(src='img/fleet/engine-icon.svg' alt='Number of engine')
                                            .media-body.text-left.text-nowrap 1.5 lts
                                li.text-center.mx-auto.mb-5.mb-md-0
                                    img.d-block.mw-100.mx-auto.mb-4(src='img/fleet/vehiculo-carga1.png' srcset="img/fleet/vehiculo-carga1.png 1x, img/fleet/vehiculo-carga1@2x.png 2x, img/fleet/vehiculo-carga1@3x.png 3x" alt='alquiler vehiculo de carga')
                                    h5.mb-3 Toyota Yaris
                                    ul.list-unstyled.d-flex.mb-3
                                        li.media.pr-2.mr-2
                                            img.mr-2(src='img/fleet/passengers-icon.svg' alt='Number of passengers')
                                            .media-body.text-left 5
                                        li.media.pr-2.mr-2
                                            img.mr-2(src='img/fleet/gear-icon.svg' alt='Number of gears')
                                            .media-body.text-left 5
                                        li.media
                                            img.mr-2(src='img/fleet/engine-icon.svg' alt='Number of engine')
                                            .media-body.text-left.text-nowrap 1.5 lts
                                li.text-center.mx-auto.mb-5.mb-md-0
                                    img.d-block.mw-100.mx-auto.mb-4(src='img/fleet/vehiculo-carga1.png' srcset="img/fleet/vehiculo-carga1.png 1x, img/fleet/vehiculo-carga1@2x.png 2x, img/fleet/vehiculo-carga1@3x.png 3x" alt='alquiler vehiculo de carga')
                                    h5.mb-3 Toyota Yaris
                                    ul.list-unstyled.d-flex.mb-3
                                        li.media.pr-2.mr-2
                                            img.mr-2(src='img/fleet/passengers-icon.svg' alt='Number of passengers')
                                            .media-body.text-left 5
                                        li.media.pr-2.mr-2
                                            img.mr-2(src='img/fleet/gear-icon.svg' alt='Number of gears')
                                            .media-body.text-left 5
                                        li.media
                                            img.mr-2(src='img/fleet/engine-icon.svg' alt='Number of engine')
                                            .media-body.text-left.text-nowrap 1.5 lts   
            .row
                div.col
                    div.accordion-container.text-center.mb-5(data-action='accordion' data-toggle='collapse' data-target='#cargoCollapse2' aria-expanded='false' aria-controls='cargoCollapse2')
                        .plus-minus-container.mx-auto
                            .wrapper.h-100.position-relative.mx-auto
                                .horizontal.position-absolute
                                .vertical.position-absolute
                        span.toggle-accordion.mt-3.d-block Ver m&aacute;s
    section.business-container.position-relative
        div.container
            .row
                div.col-md-6.col-lg-5.offset-lg-1
                    h2.text-uppercase Carga Liviana
            .row
                div.col-lg-11.offset-lg-1.cargo-container
                    h5.mb-4 
                    #cargoCollapse1.collapse.multi-collapse.show
                        .card.card-body
                            ul.pl-0.d-flex.flex-wrap.list-unstyled.justify-content-md-between.mb-5.flex-column.flex-md-row
                                li.text-center.mx-auto.mb-5.mb-md-0.animate(data-animations="slide-right")
                                    img.d-block.mw-100.mx-auto.mb-4(src='img/fleet/vehiculo-carga1.png' srcset="img/fleet/vehiculo-carga1.png 1x, img/fleet/vehiculo-carga1@2x.png 2x, img/fleet/vehiculo-carga1@3x.png 3x" alt='alquiler vehiculo de carga')
                                    h5.mb-3 Toyota Yaris
                                    ul.list-unstyled.d-flex.mb-3
                                        li.media.pr-2.mr-2
                                            img.mr-2(src='img/fleet/passengers-icon.svg' alt='Number of passengers')
                                            .media-body.text-left 5
                                        li.media.pr-2.mr-2
                                            img.mr-2(src='img/fleet/gear-icon.svg' alt='Number of gears')
                                            .media-body.text-left 5
                                        li.media
                                            img.mr-2(src='img/fleet/engine-icon.svg' alt='Number of engine')
                                            .media-body.text-left.text-nowrap 1.5 lts
                                li.text-center.mx-auto.mb-5.mb-md-0.animate.delay-04(data-animations="slide-right")
                                    img.d-block.mw-100.mx-auto.mb-4(src='img/fleet/vehiculo-carga1.png' srcset="img/fleet/vehiculo-carga1.png 1x, img/fleet/vehiculo-carga1@2x.png 2x, img/fleet/vehiculo-carga1@3x.png 3x" alt='alquiler vehiculo de carga')
                                    h5.mb-3 Toyota Yaris
                                    ul.list-unstyled.d-flex.mb-3
                                        li.media.pr-2.mr-2
                                            img.mr-2(src='img/fleet/passengers-icon.svg' alt='Number of passengers')
                                            .media-body.text-left 5
                                        li.media.pr-2.mr-2
                                            img.mr-2(src='img/fleet/gear-icon.svg' alt='Number of gears')
                                            .media-body.text-left 5
                                        li.media
                                            img.mr-2(src='img/fleet/engine-icon.svg' alt='Number of engine')
                                            .media-body.text-left.text-nowrap 1.5 lts
                                li.text-center.mx-auto.mb-5.mb-md-0.animate.delay-08(data-animations="slide-right")
                                    img.d-block.mw-100.mx-auto.mb-4(src='img/fleet/vehiculo-carga1.png' srcset="img/fleet/vehiculo-carga1.png 1x, img/fleet/vehiculo-carga1@2x.png 2x, img/fleet/vehiculo-carga1@3x.png 3x" alt='alquiler vehiculo de carga')
                                    h5.mb-3 Toyota Yaris
                                    ul.list-unstyled.d-flex.mb-3
                                        li.media.pr-2.mr-2
                                            img.mr-2(src='img/fleet/passengers-icon.svg' alt='Number of passengers')
                                            .media-body.text-left 5
                                        li.media.pr-2.mr-2
                                            img.mr-2(src='img/fleet/gear-icon.svg' alt='Number of gears')
                                            .media-body.text-left 5
                                        li.media
                                            img.mr-2(src='img/fleet/engine-icon.svg' alt='Number of engine')
                                            .media-body.text-left.text-nowrap 1.5 lts
                    #cargoCollapse2.collapse.multi-collapse
                        .card.card-body
                            ul.pl-0.d-flex.flex-wrap.list-unstyled.justify-content-md-between.mb-5
                                li.text-center.mx-auto.mb-5.mb-md-0
                                    img.d-block.mw-100.mx-auto.mb-4(src='img/fleet/vehiculo-carga1.png' srcset="img/fleet/vehiculo-carga1.png 1x, img/fleet/vehiculo-carga1@2x.png 2x, img/fleet/vehiculo-carga1@3x.png 3x" alt='alquiler vehiculo de carga')
                                    h5.mb-3 Toyota Yaris
                                    ul.list-unstyled.d-flex.mb-3
                                        li.media.pr-2.mr-2
                                            img.mr-2(src='img/fleet/passengers-icon.svg' alt='Number of passengers')
                                            .media-body.text-left 5
                                        li.media.pr-2.mr-2
                                            img.mr-2(src='img/fleet/gear-icon.svg' alt='Number of gears')
                                            .media-body.text-left 5
                                        li.media
                                            img.mr-2(src='img/fleet/engine-icon.svg' alt='Number of engine')
                                            .media-body.text-left.text-nowrap 1.5 lts
                                li.text-center.mx-auto.mb-5.mb-md-0
                                    img.d-block.mw-100.mx-auto.mb-4(src='img/fleet/vehiculo-carga1.png' srcset="img/fleet/vehiculo-carga1.png 1x, img/fleet/vehiculo-carga1@2x.png 2x, img/fleet/vehiculo-carga1@3x.png 3x" alt='alquiler vehiculo de carga')
                                    h5.mb-3 Toyota Yaris
                                    ul.list-unstyled.d-flex.mb-3
                                        li.media.pr-2.mr-2
                                            img.mr-2(src='img/fleet/passengers-icon.svg' alt='Number of passengers')
                                            .media-body.text-left 5
                                        li.media.pr-2.mr-2
                                            img.mr-2(src='img/fleet/gear-icon.svg' alt='Number of gears')
                                            .media-body.text-left 5
                                        li.media
                                            img.mr-2(src='img/fleet/engine-icon.svg' alt='Number of engine')
                                            .media-body.text-left.text-nowrap 1.5 lts
                                li.text-center.mx-auto.mb-5.mb-md-0
                                    img.d-block.mw-100.mx-auto.mb-4(src='img/fleet/vehiculo-carga1.png' srcset="img/fleet/vehiculo-carga1.png 1x, img/fleet/vehiculo-carga1@2x.png 2x, img/fleet/vehiculo-carga1@3x.png 3x" alt='alquiler vehiculo de carga')
                                    h5.mb-3 Toyota Yaris
                                    ul.list-unstyled.d-flex.mb-3
                                        li.media.pr-2.mr-2
                                            img.mr-2(src='img/fleet/passengers-icon.svg' alt='Number of passengers')
                                            .media-body.text-left 5
                                        li.media.pr-2.mr-2
                                            img.mr-2(src='img/fleet/gear-icon.svg' alt='Number of gears')
                                            .media-body.text-left 5
                                        li.media
                                            img.mr-2(src='img/fleet/engine-icon.svg' alt='Number of engine')
                                            .media-body.text-left.text-nowrap 1.5 lts   
            .row
                div.col
                    div.accordion-container.text-center.mb-5(data-action='accordion' data-toggle='collapse' data-target='#cargoCollapse2' aria-expanded='false' aria-controls='cargoCollapse2')
                        .plus-minus-container.mx-auto
                            .wrapper.h-100.position-relative.mx-auto
                                .horizontal.position-absolute
                                .vertical.position-absolute
                        span.toggle-accordion.mt-3.d-block Ver m&aacute;s