extends layout/layout.pug

block head
    - var title = "Renting | Rente su carro nuevo"
    - var description = "this is the description"

block page
    - var page = "home";

block content
    div.hero
        div.container
            div.row
                div.info-wrapper.position-absolute.col-md-6.col-lg-5.offset-lg-1
                    h1.text-uppercase Renting<br />Profesional
                    p
                        strong El servicio de alquiler de vehículos ideal para profesionales independientes y empresas.
                    a.btn.text-center.text-uppercase.border-0.rounded-0(href='quote.html') Cotice aqu&iacute;
                span.scroll-next
                    img.arrows-down.d-none.d-md-block(src='img/arrows-down.svg' alt='Arrows Down')
    section.benefit-container.gray-container
        div.container
            div.row
                div.col-lg-11.offset-lg-1
                    h2.text-uppercase beneficios
                div.col-lg-12
                    ul.pl-0.d-flex.flex-wrap.list-unstyled.justify-content-md-between.mx-lg-auto
                        li.text-center.mb-5.animate(data-animations="slide-right")
                            img.d-block.mx-auto(src='img/new.svg' alt='Shield Heart')
                            h4 
                                | Vehículo
                                br
                                | nuevo
                        li.text-center.mb-5.animate.delay-04(data-animations="slide-right")
                            img.d-block.mx-auto(src='img/tools.svg' alt='Tools')
                            h4 
                                | Mantenimiento 
                                br
                                | preventivo
                        li.text-center.mb-5.mb-md-0.animate.delay-08(data-animations="slide-right")
                            img.d-block.mx-auto(src='img/marchamo.svg' alt='Clock')
                            h4 
                                | Marchamo
                                br
                                | incluido
                        li.text-center.mb-5.animate.delay-12(data-animations="slide-right")
                            img.d-block.mx-auto(src='img/shield-heart.svg' alt='Shield Heart')
                            h4 
                                | Seguros
                                br
                                | incluidos
                        li.text-center.mb-5.mb-md-0.animate(data-animations="slide-right")
                            img.d-block.mx-auto(src='img/cuota-fija.svg' alt='Clock')
                            h4 
                                | Cuota fija todo
                                br
                                | el periodo
                        li.text-center.mb-5.animate.delay-04(data-animations="slide-right")
                            img.d-block.mx-auto(src='img/gasto-impuestos.svg' alt='Clock')
                            h4 
                                | 100% se registra 
                                br
                                | como gasto
                        li.text-center.mb-5.mb-md-0.animate.delay-08(data-animations="slide-right")
                            img.d-block.mx-auto(src='img/options.svg' alt='Clock')
                            h4 
                                | Gran variedad
                                br
                                | de marcas
                        li.text-center.mb-5.animate.delay-12(data-animations="slide-right")
                            img.d-block.mx-auto(src='img/clock.svg' alt='Clock')
                            h4 
                                | Plazo de 1
                                br
                                | a 3 a&ntilde;os
    section.plans
        div.container
            div.row
                div.col-lg-10.offset-lg-1
                    h2.text-uppercase Planes
            div.row
                div.col-lg-10.offset-lg-1
                    div.row
                        div.col.col-12.col-md
                            div.img-block
                                .screen.animate(data-animations="show-image")
                                img.d-block.mw-100.centered-image.animate(data-animations="fade-in" src='img/home/empresarial.jpg' srcset="img/home/empresarial.jpg 1x, img/home/empresarial@2x.jpg 2x, img/home/empresarial@3x.jpg 3x" alt='alquiler de vehiculos')                            
                            h4  Profesional independiente
                            p
                                a.drop(data-toggle='collapse' href='#profesional' role='button' aria-expanded='false' aria-controls='collapseExample')
                                    | Ver m&aacute;s
                            #profesional.collapse.mt-3
                                .card.card-body
                                    p.small *En este caso, deb&eacute;s tener la autorizaci&oacute;n de la aseguradora. Si cont&aacute;s con la cobertura en tu p&oacute;liza de autom&oacute;viles, pod&eacute;s tramitarlo por medio de la Aseguradora o pod&eacute;s solicitar el reembolso con la factura que te entreguemos de la renta solicitada.
                        div.col.col-12.col-md
                            div.img-block
                                .screen.animate(data-animations="show-image")
                                img.d-block.mw-100.centered-image.animate(data-animations="fade-in" src='img/home/profesional-independiente.jpg' srcset="img/home/profesional-independiente.jpg 1x, img/home/profesional-independiente@2x.jpg 2x, img/home/profesional-independiente@3x.jpg 3x" alt='alquiler de vehiculos')
                            h4  Empresas
                            p
                                a.drop(data-toggle='collapse' href='#companies' role='button' aria-expanded='false' aria-controls='collapseExample')
                                    | Ver m&aacute;s
                            #companies.collapse.mt-3
                                .card.card-body
                                    p.small *En este caso, deb&eacute;s tener la autorizaci&oacute;n de la aseguradora. Si cont&aacute;s con la cobertura en tu p&oacute;liza de autom&oacute;viles, pod&eacute;s tramitarlo por medio de la Aseguradora o pod&eacute;s solicitar el reembolso con la factura que te entreguemos de la renta solicitada.
                        div.col.col-12.col-md
                            div.img-block
                                .screen.animate(data-animations="show-image")
                                img.d-block.mw-100.centered-image.animate(data-animations="fade-in" src='img/home/negocios.jpg' srcset="img/home/negocios.jpg 1x, img/home/negocios@2x.jpg 2x, img/home/negocios@3x.jpg 3x" alt='alquiler de vehiculos')
                            h4  Viajero de negocios
                            p
                                a.drop(data-toggle='collapse' href='#business' role='button' aria-expanded='false' aria-controls='collapseExample')
                                    | Ver m&aacute;s
                            #business.collapse.mt-3
                                .card.card-body
                                    p.small *En este caso, deb&eacute;s tener la autorizaci&oacute;n de la aseguradora. Si cont&aacute;s con la cobertura en tu p&oacute;liza de autom&oacute;viles, pod&eacute;s tramitarlo por medio de la Aseguradora o pod&eacute;s solicitar el reembolso con la factura que te entreguemos de la renta solicitada.           
    section.renting
        div.container
            div.row
                div.col-lg-11.offset-lg-1.text-center
                    div.text-left
                        h2.text-uppercase ¿POR QUÉ ANC RENTING ES IDEAL PARA SU NEGOCIO? RENTING VS. LEASING
            div.row
                div.col-xs-12.col-md-4.offset-md-1
                    h4.pl-4.pr-4.pt-2.pb-2.mb-3 Renting
                    ul.pl-4
                        li No requiere prima.
                        li No afecta la capacidad de pago, ya no es una deuda.
                        li Cuota fija todo el periodo.
                        li Alquiler 100% deducible de impuestos. 
                        li Servicio de mantenimiento. 
                        li Gastos de circulación incluidos. 
                        li Carro sustituto en caso de accidentes. *
                        li Incluye seguro.
                div.col-xs-12.col-md-4.offset-md-1
                    h4.pl-4.pr-4.pt-2.pb-2.mb-3 Leasing
                    ul.pl-4
                        li Si requiere prima.
                        li Afecta la capacidad de pago, ya que es una deuda.
                        li Variable de acuerdo a la tasa de intereses.
                        li Cuota no deducible de impuesto en su totalidad.
                        li No incluye servicio de mantenimiento. 
                        li No incluye gastos de circulación. 
                        li No incluye carro sustituto en caso de accidentes. 
                        li Incluye seguro.
                            
    section.fleets
        div.container
            div.row
                div.col-lg-11.offset-lg-1.text-center
                    div.text-left
                        h2.text-uppercase Vehículos
            div.row
                div.col-lg-11.offset-lg-1
                    ul.d-flex.align-items-center.flex-md-wrap.list-unstyled.justify-content-md-between.flex-column.flex-md-row
                        li.animate(data-animations="slide-right")
                            img.d-block.ml-4.mr-4.mb-5(src='img/car-logos/bmw.png' alt='BMW')
                        li.animate.delay-04(data-animations="slide-right")
                            img.d-block.ml-4.mr-4.mb-5(src='img/car-logos/ford.png' alt='Ford')
                        li.animate.delay-05(data-animations="slide-right")
                            img.d-block.ml-4.mr-4.mb-5(src='img/car-logos/hino.png' alt='Hino')
                        li.animate.delay-06(data-animations="slide-right")
                            img.d-block.ml-4.mr-4.mb-5(src='img/car-logos/honda.png' alt='Honda')
                        li.animate.delay-07(data-animations="slide-right")
                            img.d-block.ml-4.mr-4.mb-5(src='img/car-logos/hyundai.png' alt='Hyundai')
                        li.animate.delay-08(data-animations="slide-right")
                            img.d-block.ml-4.mr-4.mb-5(src='img/car-logos/Isuzu.png' alt='Isuzu')
                        li.animate.delay-09(data-animations="slide-right")
                            img.d-block.ml-4.mr-4.mb-5(src='img/car-logos/lexus.png' alt='Lexus')
                        li.animate.delay-10(data-animations="slide-right")
                            img.d-block.ml-4.mr-4.mb-5(src='img/car-logos/renault.png' alt='Renault')
                        li.animate.delay-11(data-animations="slide-right")
                            img.d-block.ml-4.mr-4.mb-5(src='img/car-logos/suzuki.png' alt='Suzuki')
                        li.animate.delay-12(data-animations="slide-right")
                            img.d-block.ml-4.mr-4.mb-5(src='img/car-logos/toyota.png' alt='Toyota')
                        li.animate.delay-13(data-animations="slide-right")
                            img.d-block.ml-4.mr-4.mb-5(src='img/car-logos/volkswagen.png' alt='Volkswagen')
                        