extends layout/layout.pug

block head
    - var title = "Renting | Preguntas frecuentes"
    - var description = "this is the description"

block page
    - var page = "fleet";

block content
    div.hero
        div.container
            div.row
                div.info-wrapper.position-absolute.col-md-12.full-width
                    h1.text-uppercase Preguntas Frecuentes
                    p
                        strong De manera ágil y accesible, las personas físicas o jurídicas pueden optar por el Renting:
                    a.btn.text-center.text-uppercase.border-0.rounded-0(href='quote.html') Cotice aquí
                div.col-md-12.hero-image
                span.scroll-next
                    img.arrows-down.d-none.d-md-block(src='img/arrows-down.svg' alt='Arrows Down')
    section.questions-container
        div.container
                div.row
                    div.col-md-7.col-lg-6.col-xl-5.offset-md-3.offset-xl-4
                        #accordion
                            .card.pb-4.pt-4
                                #headingOne.card-header
                                    div.media.plan.position-relative
                                        img.align-self-center.mr-2.mr-sm-3.mr-md-4(src='img/requirements/01.png' srcset="img/requirements/01.png 1x, img/requirements/01@2x.png 2x, img/requirements/01@3x.png 3x" alt='02')
                                        .media-body.align-self-center
                                            p.mb-0 ¿Qu&eacute; es el Renting?
                                            div.accordion-container.small-sign.collapsed.position-absolute.w-100.h-100(data-action='accordion' data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
                                                .plus-minus-container.float-right
                                                    .wrapper.h-100.position-relative.mx-auto
                                                        .horizontal.position-absolute
                                                        .vertical.position-absolute
                                #collapseOne.collapse.mt-3.mt-md-5.pl-3.pr-2.pl-md-5.pr-md-5(aria-labelledby='headingOne' data-parent='#accordion')
                                    .card-body
                                        | Es un modelo financiero de alquiler, en el cual se firma 
                                        | un contrato de 1 a 3 años. El monto de la cuota es fijo y 
                                        | se calcula tomando en cuenta el kilometraje, la categor&iacute;a 
                                        | del veh&iacute;culo y per&iacute;odo contratado entre otros factores.
                        #accordion
                            .card.pb-4.pt-4
                                #headingOne.card-header
                                    div.media.plan.position-relative
                                        img.align-self-center.mr-2.mr-sm-3.mr-md-4(src='img/requirements/02.png' srcset="img/requirements/02.png 1x, img/requirements/02@2x.png 2x, img/requirements/02@3x.png 3x" alt='01')
                                        .media-body.align-self-center
                                            p.mb-0 ¿Cu&aacute;l es la diferencia entre el Renting y el Leasing?
                                            div.accordion-container.small-sign.collapsed.position-absolute.w-100.h-100(data-action='accordion' data-toggle='collapse' data-target='#collapseTwo' aria-expanded='true' aria-controls='collapseTwo')
                                                .plus-minus-container.float-right
                                                    .wrapper.h-100.position-relative.mx-auto
                                                        .horizontal.position-absolute
                                                        .vertical.position-absolute
                                #collapseTwo.collapse.mt-3.mt-md-5.pl-3.pr-2.pl-md-5.pr-md-5(aria-labelledby='headingOne' data-parent='#accordion')
                                    .card-body
                                        | Con el Renting la cuota es fija durante todo el per&iacute;odo 
                                        | del contrato, es decir, no se ve afectada por los cambios 
                                        | en las tasas de inter&eacute;s del mercado financiero, adem&aacute;s, en 
                                        | la cuota viene contemplado el pago de marchamo, seguros 
                                        | b&aacute;sicos, revisi&oacute;n t&eacute;cnica y mantenimientos preventivos entre 
                                        | otros beneficios. A diferencia del Leasing en el cual los 
                                        | gastos del vehículo no se contemplan en la cuota y est&aacute; 
                                        | sujeta a los cambios en las tasas de inter&eacute;s.
                        #accordion
                            .card.pb-4.pt-4
                                #headingOne.card-header
                                    div.media.plan.position-relative
                                        img.align-self-center.mr-2.mr-sm-3.mr-md-4(src='img/requirements/03.png' srcset="img/requirements/03.png 1x, img/requirements/03@2x.png 2x, img/requirements/03@3x.png 3x" alt='03')
                                        .media-body.align-self-center
                                            p.mb-0 ¿Cu&aacute;les son los beneficios del Renting?
                                            div.accordion-container.small-sign.collapsed.position-absolute.w-100.h-100(data-action='accordion' data-toggle='collapse' data-target='#collapseThree' aria-expanded='true' aria-controls='collapseThree')
                                                .plus-minus-container.float-right
                                                    .wrapper.h-100.position-relative.mx-auto
                                                        .horizontal.position-absolute
                                                        .vertical.position-absolute
                                #collapseThree.collapse.mt-3.mt-md-5.pl-3.pr-2.pl-md-5.pr-md-5(aria-labelledby='headingOne' data-parent='#accordion')
                                    .card-body
                                        ul
                                            li Vehículo completamente nuevo.
                                            li Cero prima.
                                            li Cuota Fija.
                                            li Seguros básicos.
                                            li El 100% del alquiler se puede reportar como gasto.
                                            li Mejorar el vehículo cada vez que finaliza el contrato.
                                            li Gran variedad de marcas: Toyota, BMW, Suzuki, Hyundai, Isuzu, Honda, Ford, Volkswagen entre otras más.
                        #accordion
                            .card.pb-4.pt-4
                                #headingOne.card-header
                                    div.media.plan.position-relative
                                        img.align-self-center.mr-2.mr-sm-3.mr-md-4(src='img/requirements/04.png' srcset="img/requirements/04.png 1x, img/requirements/04@2x.png 2x, img/requirements/04@3x.png 3x" alt='01')
                                        .media-body.align-self-center
                                            p.mb-0 ¿A qui&eacute;n le funciona el modelo de Renting Profesional?
                                            div.accordion-container.small-sign.collapsed.position-absolute.w-100.h-100(data-action='accordion' data-toggle='collapse' data-target='#collapseFour' aria-expanded='true' aria-controls='collapseFour')
                                                .plus-minus-container.float-right
                                                    .wrapper.h-100.position-relative.mx-auto
                                                        .horizontal.position-absolute
                                                        .vertical.position-absolute
                                #collapseFour.collapse.mt-3.mt-md-5.pl-3.pr-2.pl-md-5.pr-md-5(aria-labelledby='headingOne' data-parent='#accordion')
                                    .card-body
                                        | El Renting Profesional es perfecto para profesionales 
                                        | independientes, peque&ntilde;a y mediana empresa, ya que 
                                        | el 100% del alquiler se puede reportar como gasto. Este 
                                        | beneficio no aplica para asalariados.
                        #accordion
                            .card.pb-4.pt-4
                                #headingOne.card-header
                                    div.media.plan.position-relative
                                        img.align-self-center.mr-2.mr-sm-3.mr-md-4(src='img/requirements/05.png' srcset="img/requirements/05.png 1x, img/requirements/05@2x.png 2x, img/requirements/05@3x.png 3x" alt='01')
                                        .media-body.align-self-center
                                            p.mb-0 ¿Qu&eacute; sucede con el veh&iacute;culo una vez finalizado el contrato?
                                            div.accordion-container.small-sign.collapsed.position-absolute.w-100.h-100(data-action='accordion' data-toggle='collapse' data-target='#collapseFive' aria-expanded='true' aria-controls='collapseFive')
                                                .plus-minus-container.float-right
                                                    .wrapper.h-100.position-relative.mx-auto
                                                        .horizontal.position-absolute
                                                        .vertical.position-absolute
                                #collapseFive.collapse.mt-3.mt-md-5.pl-3.pr-2.pl-md-5.pr-md-5(aria-labelledby='headingOne' data-parent='#accordion')
                                    .card-body
                                        | El veh&iacute;culo se debe devolver al finalizar el contrato y se 
                                        | puede optar por contratar otro completamente nuevo que se 
                                        | ajuste mejor a las actividades del negocio.
                        #accordion
                            .card.pb-4.pt-4
                                #headingOne.card-header
                                    div.media.plan.position-relative
                                        img.align-self-center.mr-2.mr-sm-3.mr-md-4(src='img/requirements/06.png' srcset="img/requirements/06.png 1x, img/requirements/06@2x.png 2x, img/requirements/06@3x.png 3x" alt='06')
                                        .media-body.align-self-center
                                            p.mb-0 ¿Cu&aacute;les son los requisitos?
                                            div.accordion-container.small-sign.collapsed.position-absolute.w-100.h-100(data-action='accordion' data-toggle='collapse' data-target='#collapseSix' aria-expanded='true' aria-controls='collapseSix')
                                                .plus-minus-container.float-right
                                                    .wrapper.h-100.position-relative.mx-auto
                                                        .horizontal.position-absolute
                                                        .vertical.position-absolute
                                #collapseSix.collapse.mt-3.mt-md-5.pl-3.pr-2.pl-md-5.pr-md-5(aria-labelledby='headingOne' data-parent='#accordion')
                                    .card-body
                                        p
                                            strong Persona f&iacute;sica:
                                        ul
                                            li Copia de la cédula de identidad del arrendatario.
                                            li Constancia salarial o certificación de ingresos.
                                            li Orden patronal si es asalariado o estados de cuenta bancarios y tarjetas de crédito de los últimos 3 meses.
                                            li Currículum vitae o perfil del solicitante.
                                            li Recibo de servicio público o privado donde indique la dirección física de la persona.
                                        br
                                        p
                                            strong Persona jur&iacute;dica:
                                        ul
                                            li Personería jurídica con no más de un mes de emitida.
                                            li Copia de la cédula jurídica.
                                            li Copia del documento de identificación del representante legal de la empresa.
                                            li Perfil detallado de la empresa.
                                            li Declaraciones de renta de los dos últimos periodos fiscales.
                                            li Recibo de servicio público o privado donde indique la dirección física de la empresa.
                                        
