extends layout/layout.pug

block page
    - var page = "fleet";

block content
    div.hero
        div.container
            div.row
                div.info-wrapper.position-absolute.col-md-12.full-width
                    h1.text-uppercase Preguntas Frecuentes
                    p
                        strong De manera ágil y accesible, las personas físicas o jurídicas pueden optar por el Renting:
                    a.btn.text-center.text-uppercase.border-0.rounded-0 Cotice aquí
                div.col-md-12.hero-image
                span.scroll-next
                    img.arrows-down.d-none.d-md-block(src='img/arrows-down.svg' alt='Arrows Down')
    section.questions-container
        div.container
                div.row
                    div.col-md-7.col-lg-6.col-xl-5.offset-md-3.offset-xl-4
                        #accordion
                            .card.pb-4
                                #headingOne.card-header
                                    div.media.plan.position-relative
                                        img.align-self-center.mr-2.mr-sm-3.mr-md-4(src='img/requirements/01.png' srcset="img/requirements/01.png 1x, img/requirements/01@2x.png 2x, img/requirements/01@3x.png 3x" alt='01')
                                        .media-body.align-self-center
                                            p.mb-0 ¿Qué es el Renting?
                                            div.accordion-container.small-sign.collapsed.position-absolute.w-100.h-100(data-action='accordion' data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
                                                .plus-minus-container.float-right
                                                    .wrapper.h-100.position-relative.mx-auto
                                                        .horizontal.position-absolute
                                                        .vertical.position-absolute
                                        


                                #collapseOne.collapse.mt-3.mt-md-5.pl-3.pr-2.pl-md-5.pr-md-5(aria-labelledby='headingOne' data-parent='#accordion')
                                    .card-body
                                        | El Renting Profesional es perfecto para profesionales independientes, pequeña y mediana empresa, ya que el 100% del alquiler se puede reportar como gasto. Este beneficio no aplica para asalariados.
                                        
