extends layout/layout.pug

block head
    - var title = "Renting | Cotizar vehículos"
    - var description = "this is the description"

block page
    - var page = "quote";

block content
    div.contact-grid
        div.row
            div.col-12.col-md-6.bg-image.d-none.d-md-block
                div.row
                    div.col-lg-10.offset-lg-2.fleets
                        h1.text-uppercase Cotizar
                        p.mb-3 Cotice hoy el carro nuevo que usted y su negocio necesitan con Renting Profesional.
            div.col-12.col-md-6.col-lg-5.form
                form(action="")
                    div.form-group
                        label(for='name') Nombre:
                        input#name.form-control(type='text' aria-describedby='name' placeholder='')
                    div.form-group
                        label(for='lastName') Apellidos:
                        input#last-name.form-control(type='text' aria-describedby='LastName' placeholder='')
                    div.form-group
                        label(for='company') Empresa:
                        input#company.form-control(type='text' aria-describedby='company' placeholder='')
                    div.form-group
                        label(for='job') Profesi&oacute;n:
                        input#job.form-control(type='text' aria-describedby='job' placeholder='')
                    div.form-group
                        label(for='email') Email:
                        input#email.form-control(type='email' aria-describedby='email' placeholder='')
                    div.form-group
                        label(for='phone') Tel&eacute;fono:
                        input#phone.form-control(type='phone' aria-describedby='phone' placeholder='')
                    div.form-group
                        label(for='time') Plazo:
                        <select class="form-control" id="time">
                            <option>1 año</option>
                            <option>2 años</option>
                            <option>3 años</option>
                        </select>
                    div.form-group
                        label(for='category') Categoria:
                        <select class="form-control" id="category">
                            <option value="Mini">Mini</option>
                            <option value="Compacto">Compacto</option>
                            <option value="Sedan">Sedan</option>
                            <option value="SUV">SUV</option>
                            <option value="Todo Terreno">Todo Terreno</option>
                            <option value="Pick Up">Pick Up</option>
                            <option value="Microbuses">Microbuses</option>
                            <option value="Paneles">Paneles</option>
                            <option value="Camiones">Camiones</option>
                        </select>
                    div.form-group
                        label(for='brand') Marca:
                        <select class="form-control" id="brand">
                            <option value="Toyota">Toyota</option>
                            <option value="Suzuki">Suzuki</option>
                            <option value="Isuzu">Isuzu</option>
                            <option value="Hino">Hino</option>
                            <option value="Hyundai">Hyundai</option>
                            <option value="BMW">BMW</option>
                            <option value="Honda">Honda</option>
                            <option value="Ford">Ford</option>
                            <option value="Renault">Renault</option>
                            <option value="Volkswagen">Volkswagen</option>
                        </select>
                    div.form-group
                        label(for='anual-km') Kilometraje anual:
                        <select class="form-control" id="anual-km">
                            <option value="5000">5000</option>
                            <option value="10000">10000</option>
                            <option value="15000">15000</option>
                            <option value="20000">20000</option>
                            <option value="25000">25000</option>
                            <option value="30000">30000</option>
                            <option value="35000">35000</option>
                            <option value="40000">40000</option>
                            <option value="45000">45000</option>
                            <option value="50000">50000</option>
                        </select>
                    div.form-group
                        label(for='comments') Observaciones:
                        <textarea class="form-control" id="comments" rows="3"></textarea>
                    div.form-group.button-container
                        <button type="submit" class="btn btn-primary">Cotizar</button>
                        <button type="submit" class="btn btn-primary cancel">Cancelar</button>