extends layout/layout.pug

block content
    div.contact-grid
        section.container
            div.row
                div.col-lg-5
                    h1.text-uppercase Cotizar
                div.col-lg-4.offset-lg-1
                    form(action="")
                        div.form-group
                            label(for='name') Nombre:
                            input#name.form-control(type='text' aria-describedby='name' placeholder='')
                        div.form-group
                            label(for='company') Empresa:
                            input#company.form-control(type='text' aria-describedby='company' placeholder='')
                        div.form-group
                            label(for='job') Profesión:
                            input#job.form-control(type='text' aria-describedby='job' placeholder='')
                        div.form-group
                            label(for='email') Email:
                            input#email.form-control(type='email' aria-describedby='email' placeholder='')
                        div.form-group
                            label(for='phone') Teléfono:
                            input#phone.form-control(type='phone' aria-describedby='phone' placeholder='')
                        div.form-group
                            label(for='time') Plazo:
                            <select class="form-control" id="time">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        div.form-group
                            label(for='brand') Marca:
                            <select class="form-control" id="brand">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        div.form-group
                            label(for='brand') Observaciones:
                            <textarea class="form-control" id="brand" rows="3"></textarea>
                        <button type="submit" class="btn btn-primary cancel">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Cotizar</button>
