extends layout/layout.pug

block head
    - var title = "Renting | Cotizar vehículos"
    - var description = "this is the description"

block page
    - var page = "quote";

block content
    div.contact-grid
        div.row
            div.col-12.col-md-6.bg-image.d-none.d-md-block
                div.row
                    div.col-lg-10.offset-lg-2.fleets
                        h1.text-uppercase Cotizar
                        p.mb-3 Cotice hoy el carro nuevo que usted y su negocio necesitan con Renting Profesional.
                        .card.card-body
                            ul.pl-0.d-flex.flex-wrap.list-unstyled.justify-content-md-between.mb-5.flex-md-column.flex-lg-row.cars
                                li.text-left.mb-5.mb-md-0.car.yaris
                                    img.d-block.mx-auto.mb-4.car(src='img/fleet/sedan1.png' srcset="img/fleet/sedan1.png 1x, img/fleet/sedan1@2x.png 2x, img/fleet/sedan1@3x.png 3x" alt='alquiler de sedanes')
                                    h5.mb-3 Toyota Yaris
                                    ul.list-unstyled.d-flex.mb-3
                                        li.media.pr-2.mr-2
                                            img.mr-2(src='img/fleet/passengers-icon.svg' alt='Number of passengers')
                                            .media-body.text-left 5
                                        li.media.pr-2.mr-2
                                            img.mr-2(src='img/fleet/gear-icon.svg' alt='Number of gears')
                                            .media-body.text-left 5
                                        li.media
                                            img.mr-2(src='img/fleet/engine-icon.svg' alt='Number of engine')
                                            .media-body.text-left.text-nowrap 1.5 lts
                                li.text-left.mb-5.mb-md-0.car.elantra
                                    img.d-block.mx-auto.mb-4.car(src='img/fleet/sedan1.png' srcset="img/fleet/sedan1.png 1x, img/fleet/sedan1@2x.png 2x, img/fleet/sedan1@3x.png 3x" alt='alquiler de sedanes')
                                    h5.mb-3 Hyundai Elantra
                                    ul.list-unstyled.d-flex.mb-3
                                        li.media.pr-2.mr-2
                                            img.mr-2(src='img/fleet/passengers-icon.svg' alt='Number of passengers')
                                            .media-body.text-left 5
                                        li.media.pr-2.mr-2
                                            img.mr-2(src='img/fleet/gear-icon.svg' alt='Number of gears')
                                            .media-body.text-left 5
                                        li.media
                                            img.mr-2(src='img/fleet/engine-icon.svg' alt='Number of engine')
                                            .media-body.text-left.text-nowrap 1.5 lts
            div.col-12.col-md-6.col-lg-5.form
                form(action="")
                    div.form-group
                        label(for='name') Nombre:
                        input#name.form-control(type='text' aria-describedby='name' placeholder='')
                    div.form-group
                        label(for='company') Empresa:
                        input#company.form-control(type='text' aria-describedby='company' placeholder='')
                    div.form-group
                        label(for='job') Profesi&oacute;n:
                        input#job.form-control(type='text' aria-describedby='job' placeholder='')
                    div.form-group
                        label(for='email') Email:
                        input#email.form-control(type='email' aria-describedby='email' placeholder='')
                    div.form-group
                        label(for='phone') Tel&eacute;fono:
                        input#phone.form-control(type='phone' aria-describedby='phone' placeholder='')
                    div.form-group
                        label(for='time') Plazo:
                        <select class="form-control" id="time">
                            <option>1 año</option>
                            <option>2 años</option>
                            <option>3 años</option>
                        </select>
                    div.form-group
                        label(for='brand') Categoria:
                        <select class="form-control" id="model">
                            <option value="Camiones">Camiones</option>
                            <option value="Compacto">Compacto</option>
                            <option value="Microbuses">Microbuses</option>
                            <option value="Mini">Mini</option>
                            <option value="Paneles">Paneles</option>
                            <option value="Pick Up">Pick Up</option>
                            <option value="SUV">SUV</option>
                            <option value="Sedan">Sedan</option>
                            <option value="Todo Terreno">Todo Terreno</option>
                        </select>
                    div.form-group
                        label(for='brand') Marca:
                        <select class="form-control" id="model">
                            <option value="Toyota">Toyota</option>
                            <option value="Suzuki">Suzuki</option>
                            <option value="Isuzu">Isuzu</option>
                            <option value="Hino">Hino</option>
                            <option value="Hyundai">Hyundai</option>
                            <option value="BMW">BMW</option>
                            <option value="Honda">Honda</option>
                            <option value="Ford">Ford</option>
                            <option value="Renault">Renault</option>
                            <option value="Volkswagen">Volkswagen</option>
                        </select>
                    div.form-group
                        label(for='kilomethers') Kilometraje anual:
                        <select class="form-control" id="model">
                            <option value="5000">5000</option>
                            <option value="10000">10000</option>
                            <option value="15000">15000</option>
                            <option value="20000">20000</option>
                            <option value="25000">25000</option>
                            <option value="30000">30000</option>
                            <option value="35000">35000</option>
                            <option value="40000">40000</option>
                            <option value="45000">45000</option>
                            <option value="50000">50000</option>
                        </select>

                    .card.card-body.d-md-none
                            ul.pl-0.d-flex.flex-wrap.list-unstyled.justify-content-md-between.flex-md-column.flex-lg-row.cars
                                li.text-left.mb-2.car.yaris
                                    img.d-block.mx-auto.mb-4.car(src='img/fleet/sedan1.png' srcset="img/fleet/sedan1.png 1x, img/fleet/sedan1@2x.png 2x, img/fleet/sedan1@3x.png 3x" alt='alquiler de sedanes')
                                    h5.mb-3 Toyota Yaris
                                    ul.list-unstyled.d-flex.mb-3
                                        li.media.pr-2.mr-2
                                            img.mr-2(src='img/fleet/passengers-icon.svg' alt='Number of passengers')
                                            .media-body.text-left 5
                                        li.media.pr-2.mr-2
                                            img.mr-2(src='img/fleet/gear-icon.svg' alt='Number of gears')
                                            .media-body.text-left 5
                                        li.media
                                            img.mr-2(src='img/fleet/engine-icon.svg' alt='Number of engine')
                                            .media-body.text-left.text-nowrap 1.5 lts
                                li.text-left.mb-2.car.elantra
                                    img.d-block.mx-auto.mb-4.car(src='img/fleet/sedan1.png' srcset="img/fleet/sedan1.png 1x, img/fleet/sedan1@2x.png 2x, img/fleet/sedan1@3x.png 3x" alt='alquiler de sedanes')
                                    h5.mb-3 Hyundai Elantra
                                    ul.list-unstyled.d-flex.mb-3
                                        li.media.pr-2.mr-2
                                            img.mr-2(src='img/fleet/passengers-icon.svg' alt='Number of passengers')
                                            .media-body.text-left 5
                                        li.media.pr-2.mr-2
                                            img.mr-2(src='img/fleet/gear-icon.svg' alt='Number of gears')
                                            .media-body.text-left 5
                                        li.media
                                            img.mr-2(src='img/fleet/engine-icon.svg' alt='Number of engine')
                                            .media-body.text-left.text-nowrap 1.5 lts

                    div.form-group
                        label(for='brand') Observaciones:
                        <textarea class="form-control" id="brand" rows="3"></textarea>
                    div.form-group.button-container
                        <button type="submit" class="btn btn-primary">Cotizar</button>
                        <button type="submit" class="btn btn-primary cancel">Cancelar</button>