extends layout/layout.pug

block content
    div.hero
        div.container
            div.row
                div.info-wrapper.col-md-6.col-lg-5.offset-lg-1
                    h1.text-uppercase requisitos
                    p
                        strong De manera ágil y accesible, las personas físicas o jurídicas pueden optar por el Renting:
                    a.btn.text-center.text-uppercase.border-0.rounded-0 Cotice aquí
                div.d-none.d-md-block.col-md-6.col-lg-6.hero-image
                span.scroll-next
                    img.arrows-down.d-none.d-md-block(src='img/arrows-down.svg' alt='Arrows Down')
    section.persons
        div.container
            div.row
                div.col.text-center
                    h2.text-uppercase Personas Físicas
            div.row
                div.col-md-6.col-lg-4.offset-lg-1
                    div.media.plan
                        img.align-self-center.mr-3(src='img/requirements/01.svg' alt='Generic placeholder image')
                        .media-body
                            p.mb-0
                            | Copia de la cédula de identidad del arrendatario.
            div.row
                div.col-md-6.col-lg-4.offset-md-6.offset-lg-7
                    div.media.plan
                        img.align-self-center.mr-3(src='img/requirements/02.svg' alt='Generic placeholder image')
                        .media-body
                            p.mb-0
                            | Constancia salarial o certificación de ingresos.
                    