extends layout/layout.pug

block content
    div.hero
        div.container
            div.row
                div.info-wrapper.col-md-6.col-lg-5.offset-lg-1
                    h1.text-uppercase requisitos
                    p
                        strong De manera ágil y accesible, las personas físicas o jurídicas pueden optar por el Renting:
                    a.btn.text-center.text-uppercase.border-0.rounded-0 Cotice aquí
                div.d-none.d-md-block.col-md-6.col-lg-6.hero-image
                span.scroll-next
                    img.arrows-down.d-none.d-md-block(src='img/arrows-down.svg' alt='Arrows Down')
    section.physical-person
        div.container.position-relative
            div.row
                div.col.text-center
                    h2.text-uppercase Personas Físicas
            div.row
                div.col-md-6.bg-container.position-absolute
            div.row
                div.col-md-6.col-lg-4.offset-lg-1
                    div.media.plan.mb-4.mt-4.mb-md-0.mt-md-0
                        img.align-self-center.mr-3(src='img/requirements/01.png' srcset="img/requirements/01.png 1x, img/requirements/01@2x.png 2x, img/requirements/01@3x.png 3x" alt='01')
                        .media-body
                            p.mb-0
                            | Copia de la cédula de identidad del arrendatario.
            div.row
                div.col-md-6.col-lg-4.offset-md-6.offset-lg-7
                    div.media.plan.mb-4.mb-md-0.mt-md-0
                        img.align-self-center.mr-3(src='img/requirements/02.png' srcset="img/requirements/02.png 1x, img/requirements/02@2x.png 2x, img/requirements/02@3x.png 3x" alt='02')
                        .media-body
                            p.mb-0
                            | Constancia salarial o certificación de ingresos.
            div.row
                div.col-md-6.col-lg-4.offset-lg-1
                    div.media.plan.mb-4.mb-md-0.mt-md-0
                        img.align-self-center.mr-3(src='img/requirements/03.png' srcset="img/requirements/03.png 1x, img/requirements/03@2x.png 2x, img/requirements/03@3x.png 3x" alt='03')
                        .media-body
                            p.mb-0
                            | Orden patronal si es asalariado o estados de cuentas bancarias y tarjetas de crédito de los últimos 3 meses si es trabajador independiente.
            div.row
                div.col-md-6.col-lg-4.offset-md-6.offset-lg-7
                    div.media.plan.mb-4.mb-md-0.mt-md-0
                        img.align-self-center.mr-3(src='img/requirements/04.png' srcset="img/requirements/04.png 1x, img/requirements/04@2x.png 2x, img/requirements/04@3x.png 3x" alt='04')
                        .media-body
                            p.mb-0
                            | Curriculum Vitae o perfil del solicitante.
            div.row
                div.col-md-6.col-lg-4.offset-lg-1
                    div.media.plan
                        img.align-self-center.mr-3(src='img/requirements/05.png' srcset="img/requirements/05.png 1x, img/requirements/05@2x.png 2x, img/requirements/05@3x.png 3x" alt='05')
                        .media-body
                            p.mb-0
                            | Recibo de servicio público o privado donde indique la dirección física de la persona.

    section.legal-person.position-relative.mb-0
        div.col-md-6.position-absolute.bg-container.h-100
        div.container
            div.row
                div.col-md-6.col-lg-5.offset-lg-1
                    h2.text-uppercase.mb-0 Personas Jurídicas
                div.col-md-4.offset-md-1
                    div.media.plan.flex-column.media-one
                                img.align-self-center.mb-4(src='img/requirements/legal/01.png' srcset="img/requirements/legal/01.png 1x, img/requirements/legal/01@2x.png 2x, img/requirements/legal/01@3x.png 3x" alt='01')
                                .media-body
                                    p.mb-0
                                    | Personería jurídica con no más de un mes de emitida.
                            
                    div.media.plan.mb-5.mb-md-0.mt-md-0.flex-column
                                img.align-self-center.mb-4(src='img/requirements/legal/legal/02.png' srcset="img/requirements/legal/02.png 1x, img/requirements/legal/02@2x.png 2x, img/requirements/legal/02@3x.png 3x" alt='02')
                                .media-body
                                    p.mb-0
                                    | Copia de la cédula jurídica.
    section.legal-person.mt-0
        div.container
            div.row
                div.col-md-6.col-xl-4.offset-md-1.offset-lg-3.mb-5.mt-5
                    div.media.plan.flex-column.flex-md-row
                                img.align-self-center.mr-md-3.mb-4.mb-md-0(src='img/requirements/legal/03.png' srcset="img/requirements/legal/03.png 1x, img/requirements/legal/03@2x.png 2x, img/requirements/legal/03@3x.png 3x" alt='03')
                                .media-body.align-self-md-center
                                    p.mb-0
                                    | Copia del documento de identificación del representante legal de la empresa.
            div.row
                div.col-md-6.col-xl-4.offset-md-4.offset-lg-6.mb-5
                    div.media.plan.flex-column.flex-md-row
                                img.align-self-center.mr-md-3.mb-4.mb-md-0(src='img/requirements/legal/legal/04.png' srcset="img/requirements/legal/04.png 1x, img/requirements/legal/04@2x.png 2x, img/requirements/legal/04@3x.png 3x" alt='04')
                                .media-body.align-self-md-center
                                    p.mb-0
                                    | Perfil detallado de la empresa.
            div.row
                div.col-md-6.col-xl-4.offset-md-1.offset-lg-3.mb-5
                    div.media.plan.flex-column.flex-md-row
                                img.align-self-center.mr-md-3.mb-4.mb-md-0(src='img/requirements/legal/legal/05.png' srcset="img/requirements/legal/05.png 1x, img/requirements/legal/05@2x.png 2x, img/requirements/legal/05@3x.png 3x" alt='05')
                                .media-body.align-self-md-center
                                    p.mb-0
                                    | Declaraciones de renta de los dos últimos períodos fiscales.  
            div.row
                div.col-md-6.col-xl-4.offset-md-4.offset-lg-6.mb-5
                    div.media.plan.flex-column.flex-md-row
                                img.align-self-center.mr-md-3.mb-4.mb-md-0(src='img/requirements/legal/legal/06.png' srcset="img/requirements/legal/06.png 1x, img/requirements/legal/06@2x.png 2x, img/requirements/legal/06@3x.png 3x" alt='06')
                                .media-body.align-self-md-center
                                    p.mb-0
                                    | Recibo de servicio público o privado donde indique la dirección física de la empresa.               
            
