extends layout/layout.pug

block head
    - var title = "Renting | Requisitos"
    - var description = "this is the description"

block page
    - var page = "requierements";

block content
    div.hero
        div.container
            div.row
                div.info-wrapper.position-absolute.col-md-6.col-lg-5.offset-lg-1
                    h1.text-uppercase requisitos
                    p
                        strong De manera &aacute;gil y accesible, las personas f&iacute;sicas o jur&iacute;dicas pueden optar por el Renting Profesional:
                    a.btn.text-center.text-uppercase.border-0.rounded-0(href='quote.html') Cotice aqu&iacute;
                span.scroll-next
                    img.arrows-down.d-none.d-md-block(src='img/arrows-down.svg' alt='Arrows Down')
    section.physical-person
        div.container.position-relative
            div.row
                div.col.text-center
                    h2.text-uppercase Personas F&iacute;sicas
            div.row
                div.col-md-5.offset-md-1.d-none.d-md-block
                    img.align-self-center.mr-3.mw-100(src='img/requirements/persona-fisica.jpg' alt='03')
                div.col-md-5.animate(data-animations="slide-right")
                    div.media.plan.mb-4.mt-4.mt-md-0
                        img.align-self-center.mr-3(src='img/check-icon.svg' alt='01')
                        .media-body
                            p.mb-0
                            | Copia de la c&eacute;dula de identidad.
                    div.media.plan.mb-4.mt-md-0
                        img.align-self-center.mr-3(src='img/check-icon.svg' alt='02')
                        .media-body
                            p.mb-0
                            | Constancia salarial o certificaci&oacute;n de ingresos.
                    div.media.plan.mb-4.mt-md-0
                        img.align-self-center.mr-3(src='img/check-icon.svg' alt='03')
                        .media-body
                            p.mb-0
                            | Orden patronal si es asalariado o estados de cuentas bancarias y tarjetas de cr&eacute;dito de los &uacute;ltimos 3 meses si es trabajador independiente.
                    div.media.plan.mb-4.mt-md-0
                        img.align-self-center.mr-3(src='img/check-icon.svg' alt='04')
                        .media-body
                            p.mb-0
                            | Curriculum Vitae o perfil del solicitante.
                    div.media.plan.mb-4.mt-md-0
                        img.align-self-center.mr-3(src='img/check-icon.svg' alt='05')
                        .media-body
                            p.mb-0
                            | Recibo de servicio p&uacute;blico o privado donde indique la direcci&oacute;n f&iacute;sica de la persona.
                    div.media.plan.mb-4.mt-md-0
                        img.align-self-center.mr-3(src='img/check-icon.svg' alt='05')
                        .media-body
                            p.mb-0
                            | Solicitud de cr&eacute;dito completada y firmada que se adjunta.
                    div.media.plan.mb-4.mt-md-0
                        img.align-self-center.mr-3(src='img/check-icon.svg' alt='05')
                        .media-body
                            p.mb-0
                            | Deben de estar inscritos ante tributaci&oacute;n. 
                    div.media.plan.mb-4.mt-md-0
                        img.align-self-center.mr-3(src='img/check-icon.svg' alt='05')
                        .media-body
                            p.mb-0
                            | Tarjeta de cr&eacute;dito para cargo autom&aacute;tico. 
                    div.media.plan.mb-0
                        img.align-self-center.mr-3(src='img/check-icon.svg' alt='05')
                        .media-body
                            p.mb-0
                            | Aportar m&iacute;nimo 3 referencias comerciales, que sean verificadas por personal de ANC Renting.
    section.physical-person
        div.container.position-relative
            div.row
                div.col.text-center
                    h2.text-uppercase Personas Jur&iacute;dicas
            div.row
                div.offset-md-1.col-md-5.animate(data-animations="slide-right")
                    div.media.plan.mb-4.mt-4.mt-md-0
                        img.align-self-center.mr-3(src='img/check-icon.svg' alt='01')
                        .media-body
                            p.mb-0
                            | Personer&iacute;a jur&iacute;dica con no m&aacute;s de un mes de emitida. 
                    div.media.plan.mb-4.mt-md-0
                        img.align-self-center.mr-3(src='img/check-icon.svg' alt='02')
                        .media-body
                            p.mb-0
                            | Copia de la c&eacute;dula jur&iacute;dica. 
                    div.media.plan.mb-4.mt-md-0
                        img.align-self-center.mr-3(src='img/check-icon.svg' alt='03')
                        .media-body
                            p.mb-0
                            | Copia del documento de identificaci&oacute;n del representante legal de la empresa.
                    div.media.plan.mb-4.mt-md-0
                        img.align-self-center.mr-3(src='img/check-icon.svg' alt='04')
                        .media-body
                            p.mb-0
                            | Perfil detallado de la empresa.
                    div.media.plan.mb-4
                        img.align-self-center.mr-3(src='img/check-icon.svg' alt='05')
                        .media-body
                            p.mb-0
                            | Declaraciones de renta de los dos &uacute;ltimos per&iacute;odos fiscales.
                    div.media.plan.mb-4
                        img.align-self-center.mr-3(src='img/check-icon.svg' alt='06')
                        .media-body
                            p.mb-0
                            | Recibo de servicio p&uacute;blico o privado donde indique la direcci&oacute;n f&iacute;sica de la empresa.
                    div.media.plan.mb-4
                        img.align-self-center.mr-3(src='img/check-icon.svg' alt='06')
                        .media-body
                            p.mb-0
                            | Estados financieros y declaraciones de renta de los &uacute;ltimos periodos fiscales, firmando por el contador y el representante legal de la C&iacute;a.
                    div.media.plan.mb-4
                        img.align-self-center.mr-3(src='img/check-icon.svg' alt='06')
                        .media-body
                            p.mb-0
                            | Solicitud de cr&eacute;dito completada y firmada que se adjunta. 
                    div.media.plan.mb-4
                        img.align-self-center.mr-3(src='img/check-icon.svg' alt='06')
                        .media-body
                            p.mb-0
                            | Aportar m&iacute;nimo 3 referencias comerciales, que sean verificadas por personal de ANC Renting. 
                div.col-md-5.d-none.d-md-block
                    img.align-self-center.mr-3.mw-100(src='img/requirements/persona-juridica.jpg' alt='03')
            
 
