extends layout/layout.pug

block head
    - var title = "Renting | Variedad de vehículos"
    - var description = "this is the description"

block page
    - var page = "fleet";

block content
    div.hero
        div.container
            div.row.mt-5.mb-5
                div.info-wrapper.col-md-6.col-lg-5.offset-lg-1
                    h1.text-uppercase Rente su veh&iacute;culo
                    p
                        strong Ofrecemos las mejores condiciones corporativas del mercado.
                div.col-md-6.col-lg-5.contact-grid
                    h3.mb-5.text-uppercase Gracias por contactarnos.
                    a(href="/") < Volver
        div.bg-image