// ========================= //
//        Base URL's         //
// ========================= //
// FrontEnd
$imgPath: "/dist/img";
$baseUrl: "/dist";

// FrontEnd
//$imgPath: "/img";
//$baseUrl: "";

// ========================= //
//           FONTS           //
// ========================= //
// Used for calculating REM units from Pixels
$fontBase: 16px;

// Font Family
$font-gotham-medium: "gotham_medium", serif;
$font-gotham-bold: 'gotham_bold', serif;


@font-face {
    font-family: 'gotham_medium';
    src: url(#{$baseUrl}/fonts/Gotham-Medium.otf);
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gotham_bold';
    src: url(#{$baseUrl}/fonts/Gotham-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}

// ========================= //
//          COLORS           //
// ========================= //

$green: #035f39;
$light-green: #add185;
$desaturated-green: #accf84;
$white: #fff;
$black: #231F20;
$gray: #e6e7e8;
$dark-gray: #979797;

// ========================= //
//     COMMOM COMPONENTS     //
// ========================= //
// Global Menu
$navSecondLevelTransition: all 0.5s;
$navToggleDropdownCircle: 15px;
$navTogglerSize: 63px;
$navTogglerTransition: all 0.25s;

// Headline Paragraph
$pMarginMD: 20px;
$pMarginXS: 10px;

// Radio Button size:
$rbSize: 33px;
$chkbSize: 30px;

// Forms
$frmTransition: $navTogglerTransition;