.contact{

    .contact-grid{

        @include media-breakpoint-up(md){
            background-image: url(#{$imgPath}/contact/contact@3x.jpg);
            background-position: left top;
            background-repeat: no-repeat;
            background-size: auto 100%;
        }

    }
}