.quote{

    .contact-grid{
        background-image: url(#{$imgPath}/quote/renting@3x.jpg);
        background-position: left top;
        background-repeat: no-repeat;
        background-size: auto 100%;
    }
}