//- includes/foot.pug
footer
    div.container
        div.row.info
            div.col-md-3.logo
                a(href='/')
                    img(width='150' src='img/logo_national.svg' alt='National logo')
            div.col-md-2
                h4 Tel&eacute;fono
                p 2242-7745
            div.col-md-4
                h4 Email
                p 
                    a renting@grupoanc.com
            div.col-md-2.col-lg-2
                h4 S&iacute;guenos
                div.row
                    div.col
                        a(href="https://www.facebook.com/NationalCarRentalCR" target="blank")
                            img(width='15' src='img/btn-facebook.svg' alt='Facebook icon')
                    div.col
                        a(href="https://www.instagram.com/nationalcostarica/" target="blank")
                            img.align-self-center.mr-3(width='29' src='img/requirements/06.png' srcset="img/btn-instagram.png 1x, img/btn-instagram@2x.png 2x, img/btn-instagram@3x.png 3x" alt='Instagram icon')
        div.row
            div.col.text-center
                p.footnote © ANC Renting S.A. Todos los derechos reservados.