//- includes/foot.pug
footer
    div.container
        div.row
            div.col-md-4.col-lg-3.offset-lg-1
                a(href='/s')
                    img(width='120' src='img/logo_national.svg' alt='National logo')
            div.col-md-2
                h4 Teléfono
            div.col-md-3
                h4 Email
            div.col-md-2
                h4 Siguenos
        div.row
            div.col.text-center
                p.footnote © ANC Renting S.A. Todos los derechos reservados.