//- includes/foot.pug
footer
    div.container
        div.row.info
            div.col-md-3.logo
                a(href='/')
                    img(width='150' src='img/logo_enterprise.png' alt='Logo Enterprise')
            div.col-md-2
                h4 Tel&eacute;fono
                p 
                    a(href="tel:+51972066294").d-inline.d-md-none +51 972 066 294
                    span.d-none.d-md-inline +51 972 066 294
            div.col-md-4
                h4 Email
                p 
                    a(href="mailto:autoremplazo.peru@enterprise.pe") autoremplazo.peru@enterprise.pe
            div.col-md-2
                h4 S&iacute;guenos
                div.row
                    div.col
                        a(href="https://www.facebook.com/EnterprisePE/" target="blank")
                            img(width='15' src='img/btn-facebook.svg' alt='Facebook icon')
        div.row
            div.col.text-center
                p.footnote © Enterprise. Todos los derechos reservados.