//- includes/header.pug
header.fixed-top
    div.container
        nav.navbar.navbar-expand-lg.navbar-light2.pt-0.pb-0.pl-0.pr-0
            a.d-block.text-center.navbar-brand(href='/')
                img(width='120' src='img/logo_national.svg' alt='National logo')
        
                    