//- includes/header.pug
header.fixed-top
    div.container
        nav.navbar.navbar-light2.pt-1.pb-1.pl-0.pr-0
            a.d-block.text-center.navbar-brand(href='/')
                img(width='200' src='img/logo_enterprise.png' alt='National logo')
            div.pull-right.text-right.d-none.d-md-block
                p Reservas: +51 972 066 294<br />Correo: autoremplazo.peru@enterprise.pe