//- includes/header.pug
header.fixed-top
    div.container
        nav.navbar.navbar-expand-lg.navbar-light2.pt-0.pb-0.pl-0.pr-0
            a.d-block.text-center.navbar-brand(href='/')
                img(width='120' src='img/logo_national.svg' alt='National logo')
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.mr-auto.align-items-md-center
                    li.nav-item.d-flex.justify-content-center
                        a.nav-link.home.d-flex.align-self-center.pl-0.pr-0(href='/') Home
                    li.nav-item.d-flex.justify-content-center
                        a.nav-link.requirements.d-flex.align-self-center.pl-0.pr-0(href='requirements.html') Requisitos
                    li.nav-item.d-flex.justify-content-center
                        a.nav-link.fleet.d-flex.align-self-center.text-center.pl-0.pr-0(href='fleet.html') Talleres de Servicio
                    li.nav-item.d-flex.justify-content-center
                        a.nav-link.quote.d-flex.align-self-center.pl-0.pr-0(href='quote.html') Cotizar
                    li.nav-item.d-flex.justify-content-center
                        a.nav-link.appointments.d-flex.align-self-center.pl-0.pr-0(href='appointments.html') Citas
                    li.nav-item.d-flex.justify-content-center
                        a.nav-link.questions.d-flex.align-self-center.pl-0.pr-0(href='questions.html')
                            | Preguntas
                            br.hidden-xs.hidden-sm
                            | frecuentes
                    li.nav-item.d-flex.justify-content-center
                        a.nav-link.contact.d-flex.align-self-center.pl-0.pr-0(href='contact.html') Contacto
                    